<!DOCTYPE html>
<html lang="en">
<head>
    <!--<div id="head"></div>-->
    <meta charset="UTF-8">
    <title>ClubSis</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/img/Logos/ClubSisIcon.ico">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="webjars/jquery-ui/1.11.4/jquery-ui.css"/>
    <link rel='stylesheet' href='webjars/bootstrap/3.3.6/css/bootstrap.min.css'/>
    <link rel="stylesheet" href="webjars/fancybox/2.1.5/jquery.fancybox.css" type="text/css" media="screen"/>
    <!--<link rel="stylesheet" href="css/estiloLogin.css">-->
    <title>Title</title>
    <style type="text/css">
        h4{
            background: #008D34;
            color: white;
            padding-left: 30px;
            margin-left: 0px;
            padding-top: 2px;
            padding-bottom: 2px;
            margin-top: 0px;
        }

        hr{
            margin-top: 0px;
            margin-bottom: 10px;
        }
    </style>
    <script>
        function getIDSocio(href) {
            href=this.location.href;;
            var str = href.match(/\?idSocio\=(\d+)/);
            return str ? str[1] : str;
        }
    </script>
    <script type="text/javascript">

        var appMultas = angular.module('appMultas', []);
        var socioResp,persona,listMultas,idMulta;
        appMultas.controller('MultaController', function ($scope, $http) {

            $http.get('/api/socios/'+getIDSocio()).then(function (respuesta) {
                socioResp=respuesta.data;
            });
            $http.get('/api/socios/'+getIDSocio()+'/personas').then(function (respuesta) {
                persona=respuesta.data;
                $scope.ngSocio=persona.nombre+" "+persona.apellidoPaterno;
            });
            $http.get('/api/multas').then(function (respuesta) {
                listMultas=respuesta.data;

                $scope.multas={
                    repeatSelect: null,
                    availableOptions: listMultas
                }
            });
            $scope.asignarMulta =function (){
                //if(!verificarDatos())return;
                idMulta=$scope.multas.repeatSelect;
                $http.post('/api/multas/'+getIDSocio()+'/'+idMulta).success(function (data2 ) {
                    console.log(JSON.stringify(data2));
                    alert("Se multó al socio satisfactoriamente.");
                    window.location="loginAdministrador.html"
                })
                        .error(function (data2) {
                            console.log(JSON.stringify(data2));
                            alert("No se pudo multar al socio.");
                        });
            };
        });
    </script>
</head>
<body>
<div id="headerAdministrador"></div>
<div class="container" ng-app="appMultas" ng-controller="MultaController">
    <!--Aqui irá su codigo intermedio para que hagan sus modificaciones de las pestañas el headerUsuario ya tiene-->
    <!--el banner de opciones de menu para el usuario, esto lo pueden utilizar para hacer sus vistas es una plantilla
    pueden generar otro javascript un archivo .js para que puedan usar sus javascripts en sus htmls, sean ordenados-->
    <h2>Penalidades</h2>
    <hr>
    <h4>ASIGNAR MULTA</h4>
    <form class="form-horizontal col-sm-7 col-sm-offset-1" role="form">
        <div class="form-group">
            <label class="col-xs-5 control-label">Nombre Socio</label>
            <div class="col-xs-7">
                <input type="text" ng-model="ngSocio" placeholder="Nombre de la multa" disabled class="form-control "/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-5 control-label">Descripcion</label>
            <div class="col-xs-7">
                <select class="form-control" name="repeatSelect" id="repeatSelect" ng-model="multas.repeatSelect">
                    <option ng-repeat="option in multas.availableOptions" value="{{option.id}}">{{option.nombre}}</option>
                </select>
            </div>
        </div>
        <div class="col-sm-5 col-lg-5">
        </div>
        <div class="col-sm-5 col-lg-5" style="margin-left: 100px;">
            <button ng-click="asignarMulta()" class="btn btn-primary">Registrar</button>
            <a id="Cancelar" href="loginUsuario.html" class="btn btn-primary">Cancelar</a>
        </div>
    </form>
</div>
<div id="footer"></div>
<script src="webjars/jquery/2.2.3/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="webjars/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="webjars/fancybox/2.1.5/jquery.fancybox.js"></script>
<script src="js/principal.js"></script>
</body>
</html>