<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <!--<div id="head"></div>-->
    <meta charset="UTF-8">
    <title>ClubSis</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/Logos/ClubSisIcon.ico">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="webjars/jquery-ui/1.11.4/jquery-ui.css"/>
    <link rel='stylesheet' href='webjars/bootstrap/3.3.6/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='webjars/jqgrid/4.7.0/css/ui.jqgrid.css'/>
    <link rel="stylesheet" href="webjars/fancybox/2.1.5/jquery.fancybox.css" type="text/css" media="screen"/>
    <title>Title</title>
    <!--Estilos nuevos creados se pueden mover a otro lado, a otro css nuevo-->
    <style type="text/css">
        .ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
            background: #008D34;
        }

        .ui-jqgrid-sortable {
            color: azure;
            background-color: #008D34;
        }

        .ui-jqgrid-resize-ltr {
            background-color: #008D34;
        }

        .btn-warning {
            padding-top: 2px;
            padding-bottom: 2px;
            padding-right: 2px;
            padding-left: 2px;
            background-color: #ededed;
            border-color: #ededed;
        }

        .icono {
            width: 19px;
        }

        h4 {
            background: #008D34;
            color: white;
            padding-left: 30px;
            margin-left: 0px;
            padding-top: 2px;
            padding-bottom: 2px;
            margin-top: 0px;
        }

        hr {
            margin-top: 0px;
            margin-bottom: 10px;
        }

        .centered1 {
            margin-right: 0px;
        }

        .centered2 {
            margin-right: 510px;
        }
    </style>
</head>
<body ng-controller="BungalowController">

<div id="headerUsuario"></div>
<div class="container">
    <div>
        <h3>
            MIS RESERVAS
        </h3>
    </div>
    <hr>
    <h4>CONSULTA DE MIS RESERVAS</h4>

    <form class="form-horizontal">
        <div class="row">
            <div class="col-sm-6 col-lg-5">
                <div class="form-group">
                    <label for="descripcion" class="col-md-4 control-label">Bungalow</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="idBungalow"
                               placeholder="Numero de Bungalow">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-5">
                <div class="form-group">
                    <label for="tipo" class="col-md-4 control-label">Estado</label>
                    <div class="col-md-8">
                        <select class="form-control" id="estado" data-ng-model="estado" data-ng-options="estado for (id, estado) in estados" ></select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-12">
                <div class="form-group">
                    <label for="nombre" class="col-md-2 control-label">Rango de fechas</label>
                    <div class="col-xs-offset-0 col-xs-3" align="center">
                        <div class="input-group input-append date col-md-7">
                            <input ng-model=fechaInicio id="fechaInicio" type="text" class="date-picker form-control col-xs-6 col-md-7" placeholder="dd/mm/yyyy"/>
                            <label for="fechaInicio" class="input-group-addon btn"><span
                                    class="glyphicon glyphicon-calendar"></span>
                            </label>
                        </div>
                    </div>
                    <label for="hastaLabel" class="col-md-2 control-label">hasta</label>
                    <div class="col-xs-offset-0 col-xs-3" align="center">
                        <div class="input-group input-append date col-md-7">
                            <input ng-model=fechaFin id="fechaFin" type="text" class="date-picker form-control col-xs-6 col-md-7" placeholder="dd/mm/yyyy"/>
                            <label for="fechaFin" class="input-group-addon btn"><span
                                    class="glyphicon glyphicon-calendar"></span>
                            </label>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-7 col-lg-7">
            </div>
            <div class="col-sm-5 col-lg-5">
                <div class="form-group" style="margin-left: 110px;">
                    <a href="loginUsuario.html" class="btn btn-primary" id="btnCancelar">Cancelar</a>
                    <a href="javascript:void(0)" onclick="funciones.limpiar();return false;"  class="btn btn-primary"  id="btnLimpiar">Limpiar</a>
                    <a href="javascript:void(0)" onclick="funciones.buscar();return false;" class="btn btn-primary" id="btnBuscar">Buscar</a>
                </div>
            </div>
        </div>
        <h4>RESULTADOS DE BUSQUEDA</h4>
        <div class="rowchangeg" style="width: 900px; margin-left: auto; margin-right: auto;">
            <table id="jqGrid"></table>
            <div id="jqGridPager"></div>
        </div>
        <br>
        <div class="leyenda">
            <span>Leyenda: </span>
            <span class="icono-editar"><img src="img/Iconos/modificar.png" class="icono"></span> Facturar Ingreso a Bungalow|
            <span class="icono-resultados"><img src="img/Iconos/eliminar.png" class="icono"></span> Cancelar Reserva  a Bungalow
            <span class="icono-resultados"><img src="img/Iconos/ver.png" class="icono"></span> Ver Bungalow
        </div>
    </form>
</div>
<br>
<br>
<div id="footer"></div>
<script src="webjars/jquery/2.2.3/jquery.min.js"></script>
<script src="webjars/jquery-ui/1.11.4/jquery-ui.min.js"></script>
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="webjars/jqgrid/4.7.0/js/i18n/grid.locale-en.js"></script>
<script src="webjars/jqgrid/4.7.0/js/jquery.jqGrid.js"></script>
<script type="text/javascript" src="webjars/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="webjars/fancybox/2.1.5/jquery.fancybox.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
<script src="webjars/noty/2.3.8/js/noty/jquery.noty.js"></script>
<script src="webjars/noty/2.3.8/js/noty/layouts/top.js"></script>
<script src="webjars/noty/2.3.8/js/noty/layouts/topLeft.js"></script>
<script src="webjars/noty/2.3.8/js/noty/layouts/topRight.js"></script>
<script src="webjars/noty/2.3.8/js/noty/themes/default.js"></script>
<script src="js/principal.js"></script>
<script src="js/Notificaciones.js"></script>
<script type="text/javascript">
    $('#fechaInicio').datepicker({
        dateFormat: 'dd/mm/yy'
    });

    $('#fechaFin').datepicker({
        dateFormat: 'dd/mm/yy'
    });

    function contieneCadenaItem(item,est,fechaInicio,fechaFin,numeroBungalow) {
        var ver = true;

        if(est=="ELEGIR"){
            est = item.estado;
        }

        if(numeroBungalow == -1){
            numeroBungalow = item.idBungalow;
        }
        /*************************************/
        var fechaPartida = fechaInicio.split("/");
        var diaIni = parseInt(fechaPartida[0]);
        var mesIni = parseInt(fechaPartida[1]);
        var anhoIni = parseInt(fechaPartida[2]);

        var fechaSalida = fechaFin.split("/");
        var diaFin = parseInt(fechaSalida[0]);
        var mesFin = parseInt(fechaSalida[1]);
        var anhoFin = parseInt(fechaSalida[2]);

        var fechaIniConvertida = anhoIni*10000+mesIni*100+diaIni;
        var fechaFinConvertida = anhoFin*10000+mesFin*100+diaFin;

        /*************************************/

        var fechaIniGrid = item.fechaReserva;
        var fechaFinGrid = item.fechaFinal;

        var fechaPartidaGrid = fechaIniGrid.split("/");
        var diaIniGrid = parseInt(fechaPartidaGrid[0]);
        var mesIniGrid = parseInt(fechaPartidaGrid[1]);
        var anhoIniGrid = parseInt(fechaPartidaGrid[2]);

        var fechaSalidaGrid = fechaFinGrid.split("/");
        var diaFinGrid = parseInt(fechaSalidaGrid[0]);
        var mesFinGrid = parseInt(fechaSalidaGrid[1]);
        var anhoFinGrid = parseInt(fechaSalidaGrid[2]);

        var fechaIniConvertidaGrid = anhoIniGrid*10000+mesIniGrid*100+diaIniGrid;
        var fechaFinConvertidaGrid = anhoFinGrid*10000+mesFinGrid*100+diaFinGrid;

        console.log(fechaIniConvertida);
        console.log(fechaFinConvertida);


        var valFechas = false;
        if((fechaIniConvertida<=fechaIniConvertidaGrid) && (fechaFinConvertida>=fechaFinConvertidaGrid)){
            console.log("Si valida");
            valFechas = true;
        }

        console.log(item.estado);

        ver = (ver && (item.estado==est) && valFechas && (item.idBungalow == numeroBungalow));
        return ver;
    }

    var app=angular.module('app',[]);
    app.controller('BungalowController', function ($scope, $http) {
        $scope.estados = ["ELEGIR"];
        $http.get('/api/reservasbungalow/getEstadoReservaBungalow').success(function (data) {
            for(i = 0; i < data.length; i++){
                $scope.estados.push(data[i]);
            }
        });
    });

    var funciones = {};
    funciones.limpiar = function(){
        $("#fechaInicio").val = "";
        $("#fechaFin").val = "";
        $("#idBungalow").val = "";
    }
    funciones.buscar = function () {
        var estado = $("#estado").val();
        estado = estado.substr(7);

        var fechaIni = $("#fechaInicio").val();
        var fechaFin = $("#fechaFin").val();

        var numeroBungalow = $("#idBungalow").val();
        if(!numeroBungalow) numeroBungalow = "-1";

        numeroBungalow = parseInt(numeroBungalow);

        console.log(fechaIni);

        if( ($("#fechaInicio").val() != "") && ($("#fechaFin").val() != "") ){
            var fechaPartida = fechaIni.split("/");
            var diaIni = parseInt(fechaPartida[0]);
            var mesIni = parseInt(fechaPartida[1]);
            var anhoIni = parseInt(fechaPartida[2]);

            var fechaSalida = fechaFin.split("/");
            var diaFin = parseInt(fechaSalida[0]);
            var mesFin = parseInt(fechaSalida[1]);
            var anhoFin = parseInt(fechaSalida[2]);

            var fechaIniConvertida = anhoIni*10000+mesIni*100+diaIni;
            var fechaFinConvertida = anhoFin*10000+mesFin*100+diaFin;

            if(fechaIniConvertida>fechaFinConvertida){
                Notificaciones.showError('El rango de fechas ingresado no válido');
                return true;
            }
        }else if(($("#fechaInicio").val() != "")&&($("#fechaFin").val() == "")){
            fechaFin = "12/12/9999";
        }else if(($("#fechaInicio").val() == "")&&($("#fechaFin").val() != "")){
            fechaIni = "01/01/0001";
        }else{
            fechaFin = "12/12/9999";
            fechaIni = "01/01/0001";
        }

        var ver;
        var ids = jQuery("#jqGrid").jqGrid('getDataIDs');
        for (var i = 0; i < ids.length; i++) {
            var rowId = ids[i];
            var rowData = jQuery('#jqGrid').jqGrid('getRowData', rowId);
            ver = false;
        if (contieneCadenaItem(rowData,estado,fechaIni,fechaFin,numeroBungalow)) {
              //showrow
           $("#" + rowId).show();
        }
        else {
           $("#" + rowId).hide();
                //hiderow
           }
        }
    }

    $("#jqGrid").jqGrid({
        url: '/api/reservasbungalow', //Aqui va el metodo que me permitira obtener el JSON desde backend la ruta
        filterable: true,
        sortable: true,
        autoshowfiltericon: true,
        mtype: "GET",
        styleUI: 'Bootstrap',
        datatype: "json",
        gridview: true,
        emptyrecords: 'No se encontraron resultados',
        formatter : {
            date : {
                srcformat: 'Y-m-d'
            },
        },
        formatter : {
            date: {
                monthNames: [
                    "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec",
                    "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"
                ],
                AmPm: ["am", "pm", "AM", "PM"],
                srcformat: 'm-d-Y',
                newformat: 'd/m/Y',
                parseRe: /[Tt\\\/:_;.,\t\s-]/,
                masks: {
                    ISO8601Long: "Y-m-d H:i:s",
                    ISO8601Short: "Y-m-d",
                    ShortDate: "n/j/Y",
                    LongDate: "l, F d, Y",
                    FullDateTime: "l, F d, Y g:i:s A",
                    MonthDay: "F d",
                    ShortTime: "g:i A",
                    LongTime: "g:i:s A",
                    SortableDateTime: "Y-m-d\\TH:i:s",
                    UniversalSortableDateTime: "Y-m-d H:i:sO",
                    YearMonth: "F, Y"
                },
            },
        },
        colModel: [
            {index: 'id', name: 'id', align: 'center', width: 75},
            {index: 'estado', name: 'estado', align: 'center', width: 90},
            {index: 'fechaReserva', name: 'fechaReserva',width: 150, align: 'center',formatter: "date", formatoptions: { srcformat: "ISO8601Long", newformat: "d/m/Y" }, },
            {index: 'fechaFinal', name: 'fechaFinal', align: 'center', width: 150,formatter: "date", formatoptions: { srcformat: "ISO8601Long", newformat: "d/m/Y" },},
            {index: 'idBungalow', name: 'idBungalow',jsonmap: 'bungalow.id', align: 'center', width: 100},
            {index: 'Acciones', name: 'acciones', width: 100, align: 'center', formatter: acciones}
        ],
        colNames: [
            'N° Reserva', 'Estado', 'Fecha Inicio', 'Fecha Fin', 'Bungalow','Acciones',
        ],
        viewrecords: true,
        height: 400,
        rowNum: 20,
        pager: "#jqGridPager",
        loadComplete: function () {
            $('.icono-ver').click(function () {
                var idBungalow = $(this).attr('data-idReserva-ver');
                rowData = $("#jqGrid").jqGrid('getRowData', idBungalow);
                window.location = 'verBungalow.html?id=' + rowData.idBungalow;
            });

            $('.icono-eliminar').click(function () {
                var idReserva = $(this).attr('data-idReserva-eliminar');
                $.noty.closeAll();
                noty({
                    text: '¿Está seguro de que desea anular la reserva?',
                    type: 'warning',
                    buttons: [
                        {
                            addClass: 'btn btn-primary boton-1 centered1', text: 'Anular Reserva', onClick: function ($noty) {
                            Notificaciones.hideAll();
                            Notificaciones.showNoty("Eliminación exitosa", Notificaciones.type.SUCCESS);
                             $.post('/api/reservasbungalow/eliminar',
                                    {idReservaBungalow: idReserva},
                                    function (response) {
                                        if (!response.error) {
                                            Notificaciones.hideAll();
                                            Notificaciones.showNoty("Eliminación exitosa", Notificaciones.type.SUCCESS);
                                            $('#jqGrid').trigger('reloadGrid');
                                            setTimeout(function () {
                                                location.href = "consultarMisReservas.html"
                                            }, 1000);
                                        } else {
                                            Noty.hideAll();
                                            Noty.showError(response.mensaje, false, 3000);
                                        }
                                    });
                            $noty.close();
                        }},
                        {
                            addClass: 'btn btn-primary boton-1 centered2', text: 'Cancelar', onClick: function ($noty) {
                            $noty.close();
                        }
                        }
                    ]
                });
            });

            $('.icono-facturaion').click(function () {
                var idReserva = $(this).attr('data-idReserva-Facturacion');
                $.noty.closeAll();
                noty({
                    text: '¿Está seguro de que desea facturar la reserva?',
                    type: 'warning',
                    buttons: [
                        {
                            addClass: 'btn btn-primary boton-1 centered1', text: 'Facturar Reserva', onClick: function ($noty) {
                            Notificaciones.hideAll();
                            Notificaciones.showNoty("Facturación exitosa", Notificaciones.type.SUCCESS);
                            $.post('/api/reservasbungalow/facturar',
                                    {idReservaBungalow: idReserva},
                                    function (response) {
                                        if (!response.error) {
                                            Notificaciones.hideAll();
                                            Notificaciones.showNoty("Facturación exitosa", Notificaciones.type.SUCCESS);
                                            $('#jqGrid').trigger('reloadGrid');
                                            setTimeout(function () {
                                                location.href = "consultarMisReservas.html"
                                            }, 1000);
                                        } else {
                                            Noty.hideAll();
                                            Noty.showError(response.mensaje, false, 3000);
                                        }
                                    });
                            $noty.close();
                        }},
                        {
                            addClass: 'btn btn-primary boton-1 centered2', text: 'Cancelar', onClick: function ($noty) {
                            $noty.close();
                        }
                        }
                    ]
                });
            });
        }
    });

    $('#jqGrid').jqGrid('setGridWidth', '900');

    function acciones(cellValue, options, rowdata, action) {
        var acciones = '';
        acciones = '<a href="javascript:void(0)" class="btn btn-warning icono-ver" data-idReserva-ver="' + rowdata['id'] + '" title="Ver Reserva"><img src="img/Iconos/ver.png" class="icono"></a>'+
                '<a href="javascript:void(0)" class="btn btn-warning icono-facturaion" data-idReserva-Facturacion="' + rowdata['id'] + '" title="Facturación"><img src="img/Iconos/modificar.png" class="icono"></a>' +
                '<a href="javascript:void(0)" class="btn btn-warning icono-eliminar" data-idReserva-eliminar="' + rowdata['id'] + '" title="Eliminar Reserva"><img src="img/Iconos/eliminar.png" class="icono"></a>';
        return acciones;
    }
</script>
</body>
</html>