<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <!--<div id="head"></div>-->
    <meta charset="UTF-8">
    <title>ClubSis</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/Logos/ClubSisIcon.ico">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="webjars/jquery-ui/1.11.4/jquery-ui.css"/>
    <link rel='stylesheet' href='webjars/bootstrap/3.3.6/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='webjars/jqgrid/4.7.0/css/ui.jqgrid.css'/>
    <link rel="stylesheet" href="webjars/fancybox/2.1.5/jquery.fancybox.css" type="text/css" media="screen"/>

    <title>Title</title>
    <!--Estilos nuevos creados se pueden mover a otro lado, a otro css nuevo-->
    <style type="text/css">
        .ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
            background: #008D34;
        }

        .ui-jqgrid-sortable {
            color: azure;
            background-color: #008D34;
        }

        .ui-jqgrid-resize-ltr {
            background-color: #008D34;
        }

        .btn-warning {
            padding-top: 2px;
            padding-bottom: 2px;
            padding-right: 2px;
            padding-left: 2px;
            background-color: #ededed;
            border-color: #ededed;
        }

        .icono {
            width: 19px;
        }

        h4 {
            background: #008D34;
            color: white;
            padding-left: 30px;
            margin-left: 0px;
            padding-top: 2px;
            padding-bottom: 2px;
            margin-top: 0px;
        }

        hr {
            margin-top: 0px;
            margin-bottom: 10px;
        }

        .centered1 {
            margin-right: 0px;
        }

        .centered2 {
            margin-right: 510px;
        }
        .myAltRowClassEven { background: #999999; border-color: #79B7E7; color: #ffffff; }
    </style>
</head>
<body ng-controller="BungalowController">

<div id="headerUsuario"></div>
<div class="container">
    <div>
        <h3>
            LISTADO DE BUNGALOWS
        </h3>
    </div>
    <hr>
    <h4>CONSULTA DE BUNGALOW</h4>

    <form class="form-horizontal">
        <div class="row">
            <div class="col-sm-6 col-lg-5">
                <div class="form-group">
                    <label for="tipo" class="col-md-4 control-label">Sede</label>
                    <div class="col-md-8">
                        <select class="form-control" id="sede" name="sede" ng-model="sede">
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-5">
                <div class="form-group">
                    <label for="tipo" class="col-md-4 control-label">Valoraión</label>
                    <div class="col-md-8">
                        <select class="form-control" id="valoracion">
                            <option value="-1">ELEGIR</option>
                            <option value="0">1 estrella</option>
                            <option value="1">2 estrellas</option>
                            <option value="2">3 estrellas</option>
                            <option value="3">4 estrellas</option>
                            <option value="4">5 estrellas</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-5">
                <div class="form-group">
                    <label for="tipo" class="col-md-4 control-label">Estado</label>
                    <div class="col-md-8">
                        <select class="form-control" id="estado" data-ng-model="estado" data-ng-options="estado for (id, estado) in estados" ></select>
                        <!--<select class="form-control" id="estadoFiltrado">
                            <option value="-1" selected="true">ELEGIR</option>
                            <option ng-repeat="estado in estados" value="{{estado}}">{{estado}}</option>
                        </select>-->
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-5">
                <div class="form-group">
                    <label for="precioMenor" class="col-md-4 control-label">Rango de Precio: </label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="precioMenor" placeholder="Cantidad">
                    </div>
                    <label for="precioMayor" class="col-md-2  control-label"> -</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="precioMayor" placeholder="Cantidad">
                    </div>
                </div>
            </div>
            <div class="col-sm-7 col-lg-7">
            </div>
            <div class="col-sm-5 col-lg-5">
                <div class="form-group" style="margin-left: 110px;">
                    <a href="loginUsuario.html" class="btn btn-primary" id="btnCancelar">Cancelar</a>
                    <a href="javascript:void(0)" class="btn btn-primary" id="btnLimpiar">Limpiar</a>
                    <a href="javascript:void(0)" onclick="funciones.buscar();return false;" class="btn btn-primary" id="btnBuscar">Buscar</a>
                </div>
            </div>
        </div>
        <h4>RESULTADOS DE BUSQUEDA</h4>
        <div class="rowchangeg" style="width: 900px; margin-left: auto; margin-right: auto;">
            <table id="jqGrid"></table>
            <div id="jqGridPager"></div>
        </div>
        <br>
        <div class="leyenda">
            <span>Leyenda: </span>
            <span class="icono-editar"><img src="img/Iconos/ver.png" class="icono"></span> Ver Bungalow
        </div>
    </form>
</div>
<br>
<br>
<div id="footer"></div>
<script src="webjars/jquery/2.2.3/jquery.min.js"></script>
<script src="webjars/jquery-ui/1.11.4/jquery-ui.min.js"></script>
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="webjars/jqgrid/4.7.0/js/i18n/grid.locale-en.js"></script>
<script src="webjars/jqgrid/4.7.0/js/jquery.jqGrid.js"></script>
<script type="text/javascript" src="webjars/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="webjars/fancybox/2.1.5/jquery.fancybox.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
<script src="webjars/noty/2.3.8/js/noty/jquery.noty.js"></script>
<script src="webjars/noty/2.3.8/js/noty/layouts/top.js"></script>
<script src="webjars/noty/2.3.8/js/noty/layouts/topLeft.js"></script>
<script src="webjars/noty/2.3.8/js/noty/layouts/topRight.js"></script>
<script src="webjars/noty/2.3.8/js/noty/themes/default.js"></script>
<script src="js/principal.js"></script>
<script src="js/Notificaciones.js"></script>
<script type="text/javascript">


    var app=angular.module('app',[]);
    app.controller('BungalowController', function ($scope, $http) {
    //    $scope.estados = ["ELEGIR"];
        $scope.estados =[];
        $http.get('/api/bungalows/getEstadoBungalow').success(function (data) {
            for(i = 0; i < data.length; i++){
                $scope.estados.push(data[i]);
            }
        });
    });

    var funciones = {};
    function contieneCadenaItem(item,est,valoracion,precioMenor,precioMayor,sedeVal) {
        var ver = true;

        console.log(item.sede);
        console.log(sedeVal);

        var valValoracion ="";
        if(valoracion == 0){
            valValoracion = "1 estrella";
        }else if(valoracion == 1){
            valValoracion = "2 estrellas";
        }else if(valoracion == 2){
            valValoracion = "3 estrellas";
        }else if(valoracion == 3) {
            valValoracion = "4 estrellas";
        }else if(valoracion == 4) {
            valValoracion = "5 estrellas";
        }

        if(est=="ELEGIR"){
            est = item.estado;
        }

        if(valoracion == -1){
            valValoracion = item.valoracion;
        }
        if(sedeVal == -1){
            sedeVal = item.sede;
        }

        ver = (ver && (item.estado==est)  &&
        (item.valoracion == valValoracion) &&
        ((item.precio > precioMenor) &&
        (item.precio < precioMayor)) && (sedeVal == item.sede)
        );
        return ver;
    }

    funciones.buscar = function () {
        var precioMayor = $("#precioMayor").val();
        if(!precioMayor){
            precioMayor = "999999999";
        }

        precioMayor = parseInt(precioMayor);

        var precioMenor = $("#precioMenor").val();
        if(!precioMenor){
            precioMenor = "-1";
        }
        precioMenor = parseInt(precioMenor);
        if(precioMayor == "NaN" || precioMenor == "NaN"){
            Notificaciones.showError('Ingrese números al rango de precios');
        }else if(precioMenor <= precioMayor ){
            var sede = $("#sede").val();

            var estado = $("#estado").val();
            estado = estado.substr(7);

            var valoracion = $("#valoracion").val();

            var ver;
            var ids = jQuery("#jqGrid").jqGrid('getDataIDs');
            for (var i = 0; i < ids.length; i++) {
                var rowId = ids[i];
                var rowData = jQuery('#jqGrid').jqGrid('getRowData', rowId);
                ver = false;
                if (contieneCadenaItem(rowData,estado,valoracion,precioMenor,precioMayor,sede)) {
                    //showrow
                    $("#" + rowId).show();
                }
                else {
                    $("#" + rowId).hide();
                    //hiderow
                }
            }
        }else{
            Notificaciones.showError('Ingrese un rango válido para los precios');
        }
    }

    $("#jqGrid").jqGrid({
        url: '/api/bungalows', //Aqui va el metodo que me permitira obtener el JSON desde backend la ruta
        filterable: true,
        sortable: true,
        autoshowfiltericon: true,
        mtype: "GET",
        styleUI: 'Bootstrap',
        datatype: "json",
        gridview: true,
        emptyrecords: 'No se encontraron resultados',
        colModel: [
            {index: 'id', name: 'id', align: 'center', width: 50},
            {index: 'sede', name: 'sede',jsonmap : 'sede.nombre', align: 'center', width: 100},
            {index: 'precio', name: 'precio', align: 'center', width: 40},
            {index: 'piso', name: 'piso', align: 'center', width: 50},
            {index: 'valoracion', name: 'valoracion', align: 'center', width: 150},
            {index: 'estado', name: 'estado', align: 'center', width: 200},
            {index: 'Acciones', name: 'acciones', width: 100, align: 'center', formatter: acciones}
        ],
        colNames: [
            'N° Bungalow', 'Sede','Precio', 'Piso', 'Valoracion','Estado', 'Acciones',
        ],
        viewrecords: true,
        height: 400,
        rowNum: 20,
        pager: "#jqGridPager",
        loadComplete: function () {

            var rowIds = $("#jqGrid").jqGrid('getDataIDs');
            for (i = 0; i <= rowIds.length; i++) {//iterate over each row
                rowData = $("#jqGrid").jqGrid('getRowData', rowIds[i]);
                if (rowData['estado'] == "INHABILITADO") {
                    $("#jqGrid").jqGrid('setRowData', rowIds[i], false, "myAltRowClassEven");
                }
            }

            var cantFilas = $("#jqGrid").getGridParam("reccount");
            for (i = 1; i < cantFilas+cantFilas*4; i++) {
                var rowData = $('#jqGrid').jqGrid('getRowData', i);
                if (rowData.valoracion == "1")
                    rowData.valoracion = '1 estrella';
                else if (rowData.valoracion == "2")
                    rowData.valoracion = '2 estrellas';
                else if (rowData.valoracion == "3")
                    rowData.valoracion = '3 estrellas';
                else if (rowData.valoracion == "4")
                    rowData.valoracion = '4 estrellas';
                else if (rowData.valoracion == "5")
                    rowData.valoracion = '5 estrellas';

                $('#jqGrid').jqGrid('setRowData', i, rowData);
            }

            $('.icono-ver').click(function () {
                var idBungalow = $(this).attr('data-idBungalow-ver');
                console.log("Id bungalow ver: " + $(this).attr('data-idBungalow-ver'));
                window.location = 'verBungalow.html?id=' + idBungalow;
            });
        }
    });

    <!--Sedes-->
    $("sede").click(
            $.getJSON("/api/sedes", null, function (data) {
                console.log(data);
                $("#sede option").remove(); // Remove all <option> child tags.
                $("#sede").append( // Append an object to the inside of the select box
                        $("<option></option>") // Yes you can do this.
                                .text("ELEGIR")
                                .val(-1)
                );
                $.each(data, function (index, item) { // Iterates through a collection
                    $("#sede").append( // Append an object to the inside of the select box
                            $("<option></option>") // Yes you can do this.
                                    .text(item.nombre)
                                    .val(item.nombre)
                    );
                });
            })
    );

    $('#jqGrid').jqGrid('setGridWidth', '900');

    function acciones(cellValue, options, rowdata, action) {
        var acciones = '';
        acciones = '<a href="javascript:void(0)" class="btn btn-warning icono-ver" data-idBungalow-ver="' + rowdata['id'] + '" title="Ver Bungalow"><img src="img/Iconos/ver.png" class="icono"></a>';
        return acciones;
    }
</script>
</body>
</html>