<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Instalacion Edicion</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0">

    <link rel="shortcut icon" type="image/x-icon" href="/img/Logos/ClubSisIcon.ico">
    <link rel='stylesheet' href='webjars/bootstrap/3.3.6/css/bootstrap.min.css'/>
    <link rel="stylesheet" href="webjars/jquery-ui/1.11.4/jquery-ui.css"/>
    <link rel="stylesheet" href="css/estilosRegBungalows.css">
    <link rel="stylesheet" type="text/css" media="screen" href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
    <style type="text/css">
        .obligatorio {
            color: #FF0000;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
    <script src="webjars/jquery/2.2.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/jquery-ui-git.js"></script>
    <script type="text/javascript" src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="webjars/jquery-ui/1.11.4/jquery-ui.min.js"></script>
    <script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="webjars/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="webjars/fancybox/2.1.5/jquery.fancybox.js"></script>
    <script src="webjars/noty/2.3.8/js/noty/jquery.noty.js"></script>
    <script src="webjars/noty/2.3.8/js/noty/layouts/top.js"></script>
    <script src="webjars/noty/2.3.8/js/noty/layouts/topLeft.js"></script>
    <script src="webjars/noty/2.3.8/js/noty/layouts/topRight.js"></script>
    <script src="webjars/noty/2.3.8/js/noty/themes/default.js"></script>
    <script src="js/principal.js"></script>
    <script src="js/Notificaciones.js"></script>
</head>
<body ng-controller="InstalacionController">
<div class="container">
    <div id="headerAdministrador"></div>
    <h2>Edición de Instalación</h2>
    <hr>
    <form id="formReservaInstalacions" class="form-horizontal mitadDerecha">
        <div id="nombreInstalacion" class="form-group">
            <label class="control-label col-xs-4">Nombre<span class="obligatorio">*</span></label>
            <div class="input-group col-xs-8">
                <input ng-model="instalaciones.nombre" id="nombre" type="text" class="form-control col-xs-8" placeholder="Cancha de tenis,cancha de voley, o etc ..."/>
                <input ng-model="instalaciones.estado" type="hidden" name="estado" >
            </div>
        </div>
        <div id="escogerSedeInstalaciones" class="form-group">
            <label class="control-label col-xs-4">Sede<span class="obligatorio">*</span></label>
            <div class="input-group col-xs-8">
                <select  id="sede" class="form-control col-xs-8">
                    <option value="-1" selected>Elegir</option>
                </select>
            </div>
        </div>

        <div id="escogerTipoInstalacion" class="form-group">
            <label class="control-label col-xs-4">Tipo<span class="obligatorio">*</span></label>
            <div class="input-group col-xs-8">
                <select  id="tipo" class="form-control col-xs-8">
                    <option value="-1" selected>Elegir</option>
                </select>
            </div>
        </div>

        <div id="precioInstalacion" class="form-group">
            <label class="control-label col-xs-4">Precio Reserva<span class="obligatorio">*</span></label>
            <div class="input-group col-xs-8">
                <input ng-model="instalaciones.precioReserva" id="precioReserva" type="text" class="form-control col-xs-8"  placeholder="S/. (Solo Numeros)" />
            </div>
        </div>
        <div id="capacidadInstalacion" class="form-group">
            <label class="control-label col-xs-4">Capacidad<span class="obligatorio">*</span></label>
            <div class="input-group col-xs-8">
                <input ng-model="instalaciones.capacidad" id="capacidad" type="text" class="form-control col-xs-8"  placeholder="Número máximo de personas" />
            </div>
        </div>
        <div id="referenciaInstalacion" class="form-group">
            <label class="control-label col-xs-4">Referencia</label>
            <div class="input-group col-xs-8">
                <input ng-model="instalaciones.referencia" id="referencia" type="text" class="form-control col-xs-8"  placeholder="Lugares cercanos a la instalación" />
            </div>
        </div>
        <div id="CaracteristicasInstalacion" class="form-group">
            <label class="control-label col-xs-4">Características</label>
            <div class="input-group col-xs-8">
                <input ng-model="instalaciones.caracteristicas" id="caracteristicas" type="text" class="form-control col-xs-8"  placeholder="Características" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-4 col-xs-10">
                <a href="javascript:void(0)" class="btn btn-primary" id="btnGuardar">Guardar</a>
                <input type="" class="btn btn-primary" value="Cancelar" style="width:22%" onclick="location.href='MantenimientoInstalaciones.html';">
            </div>
        </div>
    </form>
    <!--
    <div id="detallesBungalows" class="mitadDerecha">
        <div id="BungTipo2" class="show">
            <img class="imgInstalacion" style="width:70%; height:70%;float:none;position:relative;left:100px;top:-40px;" src="/img/Instalaciones/campoFutbolSintectico.jpg">
        </div>
        <div></div>
    </div>
    -->
</div>
<div id="footer"></div>
<script type="text/javascript">
    $(".date-picker").datepicker();
    var ruta = parent.document.URL.substring(parent.document.URL.indexOf('?'), parent.document.URL.length);
    var idInstalacion = ruta.substring(ruta.lastIndexOf('=') + 1);

    var app = angular.module('app', []);
    app.controller('InstalacionController', function ($scope, $http) {
        $scope.instalaciones=[];
        var idSede;
        var idTipo;
        $http.get('/api/instalaciones/'+idInstalacion).success(function (data) {
            $scope.instalaciones=data;
            idSede=data.sede.id;
            idTipo=data.tipo.id;
            console.log(data);

            var sedes;
            $http.get('/api/sedes').success(function (data) {
                sedes=data;
                sedesElem=$("#sede");
                for(var i=0;i<data.length;i++)
                    sedesElem.append($("<option></option>").attr({value:data[i].id}).html(data[i].nombre));
                $("#sede").val(idSede);

                var tipos;
                $http.get('/api/tipoInstalaciones').success(function (data) {
                    tipos=data;
                    tiposElem=$("#tipo");
                    for(var i=0;i<data.length;i++)
                        tiposElem.append($("<option></option>").attr({value:data[i].id}).html(data[i].nombre));
                    $("#tipo").val(idTipo);
                })
            })
        });





        $("#btnGuardar").click(function () {
                var idSedeMod=$("#sede").val();
                var sedeSeleccionada;
                for(var i=0;i<sedes.length;i++)
                    if(sedes[i].id==idSedeMod){
                        sedeSeleccionada=sedes[i];
                }
                var idTipoMod=$("#tipo").val();
                var tipoSeleccionado;
                for(var i=0;i<tipos.length;i++)
                    if(tipos[i].id==idTipoMod){
                        tipoSeleccionado=tipos[i];
                }
                var data = {
                    'id':idInstalacion,
                    'nombre': $scope.instalaciones.nombre,
                    'caracteristicas': $scope.instalaciones.caracteristicas,
                    'referencia': $scope.instalaciones.referencia,
                    'capacidad': parseInt($scope.instalaciones.capacidad),
                    'precioReserva': parseFloat($scope.instalaciones.precioReserva),
                    'estado': $scope.instalaciones.estado,
                    'sede':sedeSeleccionada,
                    'tipo':tipoSeleccionado,
                };
            if(validarDatos()) {
                $http.put('/api/instalaciones/' + idInstalacion, data).success(function (data) {

                    Notificaciones.showProcesando();
                    Notificaciones.hideAll();
                    window.location = "mantenimientoInstalaciones.html";

                })
                        .error(function (data) {
                            Notificaciones.showError("Error al crear la instalación.");
                            console.log("fallo");
                        });
            }
            });

    });


    function validarDatos() {
        var nombre = $("#nombre").val();
        var capacidad = $("#capacidad").val();
        var precioReserva = $("#precioReserva").val();
        var sede = $("#sede").val();
        var tipo=$("#tipo").val();
        if (!nombre) {
            Notificaciones.showError('Nombre requerido');
            $("#nombre").css("border-color", "red");
            return false;
        } else if(sede==-1){
            Notificaciones.showError('Sede requerida');
            $("#sede").css("border-color", "red");
            return false;
        } else if(tipo==-1){
            Notificaciones.showError('Tipo requerido');
            $("#tipo").css("border-color", "red");
            return false;
        }else if (!precioReserva) {
            Notificaciones.showError('Precio de reserva requerido');
            $("#precioReserva").css("border-color", "red");
            return false;
        } else if (!capacidad) {
            Notificaciones.showError('Capacidad requerida');
            $("#capacidad").css("border-color", "red");
            return false;
        }
        return true;
    }


    $("#nombre").click(function () {
        $("#nombre").css("border-color", "#ccc");
    });

    $("#capacidad").click(function () {
        $("#capacidad").css("border-color", "#ccc");
    });

    $("#precioReserva").click(function () {
        $("#precioReserva").css("border-color", "#ccc");
    });
    $("#sede").click(function () {
        $("#sede").css("border-color", "#ccc");
    });
    $("#tipo").click(function () {
        $("#tipo").css("border-color", "#ccc");
    });
</script>
</body>
</html>