<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <!--<div id="head"></div>-->
    <meta charset="UTF-8">
    <title>Instalacion Informacion</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0">

    <link rel="shortcut icon" type="image/x-icon" href="/img/Logos/ClubSisIcon.ico">
    <link rel='stylesheet' href='webjars/bootstrap/3.3.6/css/bootstrap.min.css'/>
    <!--<link rel="stylesheet" href="css/estiloLogin.css">-->
    <link rel="stylesheet" href="css/estilosRegBungalows.css">
    <link rel="stylesheet" href="webjars/jquery-ui/1.11.4/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
    <script src="webjars/jquery/2.2.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/jquery-ui-git.js"></script>
    <script type="text/javascript" src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="webjars/jquery-ui/1.11.4/jquery-ui.min.js"></script>
    <script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="js/principal.js"></script>

</head>
<body ng-controller="InstalacionController">
<div id="headerAdministrador"></div>
<div class="container">
    <form id="formReservaInstalacions" class="form-horizontal mitadDerecha">
        <div id="nombreInstalacion" class="form-group">
            <label class="control-label col-xs-4">Nombre</label>
            <div class="input-group col-xs-8">
                <input ng-model="instalaciones.nombre" id="nombre" type="text" class="form-control col-xs-8" placeholder="Cancha de tenis,cancha de voley, o etc ..."/>
            </div>
        </div>
        <div id="escogerSedeInstalacions" class="form-group">
            <label class="control-label col-xs-4">Sede</label>
            <div class="input-group col-xs-8">
                <select ng-model="instalaciones.sede.id" id="sede" class="form-control col-xs-8">
                    <option  value="0">Elegir</option>
                    <option value="1">Playa</option>
                    <option value="2">Campo</option>
                    <option value="3">Ciudad</option>
                </select>
            </div>
        </div>

        <div id="precioInstalacion" class="form-group">
            <label class="control-label col-xs-4">Precio Reserva</label>
            <div class="input-group col-xs-8">
                <input ng-model="instalaciones.precioReserva" id="precioReserva" type="text" class="form-control col-xs-8"  placeholder="S/. (Solo Numeros)" />
            </div>
        </div>
        <div id="capacidadInstalacion" class="form-group">
            <label class="control-label col-xs-4">Capacidad</label>
            <div class="input-group col-xs-8">
                <input ng-model="instalaciones.capacidad" id="capacidad" type="text" class="form-control col-xs-8"  placeholder="Número máximo de personas" />
            </div>
        </div>
        <div id="referenciaInstalacion" class="form-group">
            <label class="control-label col-xs-4">Referencia</label>
            <div class="input-group col-xs-8">
                <input ng-model="instalaciones.referencia" id="referencia" type="text" class="form-control col-xs-8"  placeholder="Lugares cercanos a la instalación" />
            </div>
        </div>
        <div id="CaracteristicasInstalacion" class="form-group">
            <label class="control-label col-xs-4">Características</label>
            <div class="input-group col-xs-8">
                <input ng-model="instalaciones.caracteristicas" id="caracteristicas" type="text" class="form-control col-xs-8"  placeholder="Características" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-4 col-xs-10">
                <a href="MantenimientoInstalaciones.html" class="btn btn-primary" id="btnRegresar" style="margin-left: 50px;">Regresar</a>
            </div>
        </div>
    </form>
</div>
<div id="footer"></div>
<script type="text/javascript">
    var ruta = parent.document.URL.substring(parent.document.URL.indexOf('?'), parent.document.URL.length);
    var idInstalacion = ruta.substring(ruta.lastIndexOf('=') + 1);

    $(".date-picker").datepicker();
    var app = angular.module('app', []);
    app.controller('InstalacionController', function ($scope, $http) {
        $scope.instalaciones=[];
        $http.get('/api/instalaciones/'+idInstalacion).success(function (data) {
            $scope.instalaciones=data;
            console.log(data);
        });
    });
    $("select, input").attr("disabled", true);
</script>
</body>
</html>