<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <!--<div id="head"></div>-->
    <meta charset="UTF-8">
    <title>ClubSis</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/Logos/ClubSisIcon.ico">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="webjars/jquery-ui/1.11.4/jquery-ui.css"/>
    <link rel='stylesheet' href='webjars/bootstrap/3.3.6/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='webjars/jqgrid/4.7.0/css/ui.jqgrid.css'/>
    <link rel="stylesheet" href="webjars/fancybox/2.1.5/jquery.fancybox.css" type="text/css" media="screen"/>
    <title>Title</title>
    <!--Estilos nuevos creados se pueden mover a otro lado, a otro css nuevo-->
    <style type="text/css">
        .ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
            background: #008D34;
        }

        .ui-jqgrid-sortable {
            color: azure;
            background-color: #008D34;
        }

        .ui-jqgrid-resize-ltr {
            background-color: #008D34;
        }

        .btn-warning {
            padding-top: 2px;
            padding-bottom: 2px;
            padding-right: 2px;
            padding-left: 2px;
            background-color: #ededed;
            border-color: #ededed;
        }

        .icono {
            width: 19px;
        }

        h4 {
            background: #008D34;
            color: white;
            padding-left: 30px;
            margin-left: 0px;
            padding-top: 2px;
            padding-bottom: 2px;
            margin-top: 0px;
        }

        hr {
            margin-top: 0px;
            margin-bottom: 10px;
        }

        .centered1 {
            margin-right: 0px;
        }

        .centered2 {
            margin-right: 510px;
        }

        .myAltRowClassEven { background: #999999; border-color: #79B7E7; color: #ffffff; }
    </style>
</head>
<body ng-controller="BungalowController">
<div id="headerAdministrador"></div>
<div class="container">
    <!--Aqui irá su codigo intermedio para que hagan sus modificaciones de las pestañas el headerUsuario ya tiene-->
    <!--el banner de opciones de menu para el usuario, esto lo pueden utilizar para hacer sus vistas es una plantilla
    pueden generar otro javascript un archivo .js para que puedan usar sus javascripts en sus htmls, sean ordenados-->
    <div>
        <h3>
            ADMINISTRACIÓN DE TIPO DE BUNGALOW
            <a href="registroTipoBungalow.html" class="btn btn-primary" id="btnRegistrar" style="margin-left: 830px;">Añadir
                Tipo de Bungalow</a>
        </h3>
    </div>
    <hr>
    <h4>CONSULTA DE TIPO DE BUNGALOW</h4>

    <form class="form-horizontal">
        <div class="row">
            <div class="col-sm-6 col-lg-5">
                <div class="form-group">
                    <label for="tipo" class="col-md-4 control-label">Nombre</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="nombre" placeholder="Nombre de tipo bungalow">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-5">
                <div class="form-group">
                    <label for="capacity" class="col-md-4 control-label">Capacidad</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="capacidadMinima" placeholder="Capacidad">
                    </div>
                    <label for="capacity" class="col-md-2  control-label"> - </label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="capacidadMaxima" placeholder="Capacidad">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-5">
                <div class="form-group">
                    <label for="nombre" class="col-md-4 control-label">Estado</label>
                    <div class="col-md-8">
                        <!--<select class="form-control" id="estado" data-ng-model="estado" data-ng-options="estado for (id, estado) in estados" ></select>-->
                        <select class="form-control" id="estadoFiltrado">
                            <option value="-1" selected="true">ELEGIR</option>
                            <option ng-repeat="estado in estados" value="{{estado}}">{{estado}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-7 col-lg-7">
            </div>
            <div class="col-sm-5 col-lg-5">
                <div class="form-group" style="margin-left: 150px;">
                    <a href="javascript:void(0)" class="btn btn-primary" id="btnEliminarMultiples"
                       style="visibility: visible">Eliminar</a>
                    <a href="loginUsuario.html" class="btn btn-primary" id="btnCancelar">Cancelar</a>
                    <a href="javascript:void(0)" class="btn btn-primary" id="btnLimpiar">Limpiar</a>
                    <a href="javascript:void(0)" onclick="funciones.buscar();return false;" class="btn btn-primary" id="btnBuscar">Buscar</a>
                </div>
            </div>
        </div>
        <h4>RESULTADOS DE BUSQUEDA</h4>
        <div class="rowchangeg" style="width: 900px; margin-left: auto; margin-right: auto;">
            <table id="jqGrid"></table>
            <div id="jqGridPager"></div>
        </div>
        <br>
        <div class="leyenda">
            <span>Leyenda: </span>
            <span class="icono-editar"><img src="img/Iconos/ver.png" class="icono"></span> Ver|
            <span class="icono-reprogramar"><img src="img/Iconos/modificar.png" class="icono"></span> Modificar
            |
            <span class="icono-resultados"><img src="img/Iconos/eliminar.png" class="icono"></span> Eliminar
        </div>
    </form>
</div>
<br>
<br>
<div id="footer"></div>
<script src="webjars/jquery/2.2.3/jquery.min.js"></script>
<script src="webjars/jquery-ui/1.11.4/jquery-ui.min.js"></script>
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="webjars/jqgrid/4.7.0/js/i18n/grid.locale-en.js"></script>
<script src="webjars/jqgrid/4.7.0/js/jquery.jqGrid.js"></script>
<script type="text/javascript" src="webjars/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="webjars/fancybox/2.1.5/jquery.fancybox.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
<script src="webjars/noty/2.3.8/js/noty/jquery.noty.js"></script>
<script src="webjars/noty/2.3.8/js/noty/layouts/top.js"></script>
<script src="webjars/noty/2.3.8/js/noty/layouts/topLeft.js"></script>
<script src="webjars/noty/2.3.8/js/noty/layouts/topRight.js"></script>
<script src="webjars/noty/2.3.8/js/noty/themes/default.js"></script>
<script src="js/principal.js"></script>
<script src="js/Notificaciones.js"></script>
<script type="text/javascript">

    var app=angular.module('app',[]);
    app.controller('BungalowController', function ($scope, $http) {
        $scope.estados =[];
        $http.get('/api/tiposbungalow/getEstadoTipoBungalow').success(function (data) {
            for(i = 0; i < data.length; i++){
                $scope.estados.push(data[i]);
            }
        });
    });

    //Filtrado:
    var funciones = {};
    function contieneCadenaItem(item,capacidadMaxima,capacidadMinima,estado,nombre) {
        var ver = true;

        if(!((capacidadMaxima >= item.capacidad) && (item.capacidad >= capacidadMinima))) ver = false;

        if(estado == "-1") ver = ver && true;
        else if(estado != item.estado) ver = false;

        if(nombre && item.nombre.indexOf(nombre)<0)  ver = false;
        return ver;
    }

    funciones.buscar = function () {
        var capacidadMaxima = $("#capacidadMaxima").val();
        var capacidadMinima = $("#capacidadMinima").val();

        if(!capacidadMinima) capacidadMinima = "-1";
        capacidadMinima = parseInt(capacidadMinima);

        if(!capacidadMaxima) capacidadMaxima = "999999999";
        capacidadMaxima = parseInt(capacidadMaxima);

        var estado = $("#estadoFiltrado").val();

        var nombre = $("#nombre").val();
        if(capacidadMaxima < capacidadMinima ){
            Notificaciones.showError('Ingrese un rango válido para la capacidad');
        }else{
            var ver;
            var ids = jQuery("#jqGrid").jqGrid('getDataIDs');
            for (var i = 0; i < ids.length; i++) {
                var rowId = ids[i];
                var rowData = jQuery('#jqGrid').jqGrid('getRowData', rowId);
                ver = false;
                if (contieneCadenaItem(rowData,capacidadMaxima,capacidadMinima,estado,nombre)) {
                    //showrow
                    $("#" + rowId).show();
                }
                else {
                    $("#" + rowId).hide();
                    //hiderow
                }
            }
        }
    }


    $("#jqGrid").jqGrid({
        url: '/api/tiposbungalow',
        mtype: "GET",
        styleUI: 'Bootstrap',
        datatype: "json",
        gridview: true,
        loadonce: true,
        emptyrecords: 'No se encontraron resultados',
        
        colModel: [
            {index: 'id', name: 'id', align: 'center', width: 50},
            {index: 'nombre', name: 'nombre', align: 'center', width: 130},
            {index: 'caracteristicas', name: 'caracteristicas', align: 'center', width: 300},
            {index: 'capacidad', name: 'capacidad', align: 'center', width: 70},
            {index: 'estado', name: 'estado', align: 'center', width: 150},
            {index: 'Acciones', name: 'acciones', width: 100, align: 'center', formatter: acciones}
        ],
        colNames: [
            'N°', 'Nombre', 'Características', 'Capacidad', 'Estado', 'Acciones'
        ],
        viewrecords: true,
        height: 400,
        rowNum: 20,
        multiselect: true,
        pager: "#jqGridPager",
        loadComplete: function () {
            var rowIds = $("#jqGrid").jqGrid('getDataIDs');
            for (i = 0; i <= rowIds.length; i++) {//iterate over each row
                rowData = $("#jqGrid").jqGrid('getRowData', rowIds[i]);
                //set background style if ColumnValue == true
                if (rowData['estado'] == "INHABILITADO") {
                    $("#jqGrid").jqGrid('setRowData', rowIds[i], false, "myAltRowClassEven");
                } //if
            }
            var cantFilas = $("#jqGrid").getGridParam("reccount");
            console.log(cantFilas);
            for (i = 1; i < cantFilas+cantFilas*4; i++) {
                var rowData = $('#jqGrid').jqGrid('getRowData', i);
                if (rowData.valoracion == "1")
                    rowData.valoracion = '1 estrella';
                else if (rowData.valoracion == "2")
                    rowData.valoracion = '2 estrellas';
                else if (rowData.valoracion == "3")
                    rowData.valoracion = '3 estrellas';
                else if (rowData.valoracion == "4")
                    rowData.valoracion = '4 estrellas';
                else if (rowData.valoracion == "5")
                    rowData.valoracion = '5 estrellas';
                $('#jqGrid').jqGrid('setRowData', i, rowData);
            }

            $('#btnEliminarMultiples').click(function () {
                var grid = $("#jqGrid");
                var rowKey = grid.getGridParam("selrow");

                if (!rowKey)
                    Notificaciones.showError("No hay tipo de bungalow seleccionado(s) a eliminar");
                else {
                    var selectedIDs = grid.getGridParam("selarrrow");
                    var result = "";
                    var mensaje = "Han sido eliminados los tipo de bungalows seleccionados satisfactoriamente.";
                    for (var i = 0; i < selectedIDs.length; i++) {
                        var data = selectedIDs[i];
                        console.log("Entro Eliminar x");
                        console.log(data);
                        $.post('/api/tiposbungalow/eliminar',
                                {idTipoBungalow: data},
                                function (response) {
                                    if (!response.error) {

                                    } else {
                                        Noty.hideAll();
                                        mensaje = "No se pudo rechazar los bungalows seleccionados";
                                    }
                                });
                        result += selectedIDs[i] + ",";
                    }
                    Notificaciones.showNoty(mensaje);
                    setTimeout(function () {
                        location.href = "mantenimientoTipoBungalow.html"
                    }, 1000);
                }
            });

            $('.icono-modificar').click(function () {
//                alert("Modificando bungalow");
                var idBungalow = $(this).attr('data-idTipoBungalow-modificar');
                console.log("Id bungalow modificando: " + $(this).attr('data-idTipoBungalow-modificar'));
                window.location = 'editarTipoBungalow.html?id=' + idBungalow;
            });
            $('.icono-ver').click(function () {
//                alert("Ver bungalow");
                var idBungalow = $(this).attr('data-idTipoBungalow-ver');
                console.log("Id bungalow ver: " + $(this).attr('data-idTipoBungalow-ver'));
                window.location = 'verTipoBungalow.html?id=' + idBungalow;
            });
            $('.icono-eliminar').click(function () {
                var idTipoBungalow = $(this).attr('data-idTipoBungalow-eliminar');
                console.log("Id bungalow eliminando: " + $(this).attr('data-idTipoBungalow-eliminar'));
                $.noty.closeAll();
                noty({
                    text: '¿Está seguro de que desea eliminar el bungalow?',
                    type: 'warning',
                    buttons: [
                        {
                            addClass: 'btn btn-primary boton-1 centered1', text: 'Eliminar', onClick: function ($noty) {
                            Notificaciones.hideAll();
                            Notificaciones.showNoty("Eliminación exitosa", Notificaciones.type.SUCCESS);
                            $.post('/api/tiposbungalow/eliminar',
                                    {idTipoBungalow: idTipoBungalow},
                                    function (response) {
                                        if (!response.error) {
                                            Notificaciones.hideAll();
                                            Notificaciones.showNoty("Eliminación exitosa", Notificaciones.type.SUCCESS);
                                            $('#grid').trigger('reloadGrid');
                                            setTimeout(function () {
                                                location.href = "mantenimientoTipoBungalow.html"
                                            }, 1000);
                                        } else {
                                            Noty.hideAll();
                                            Noty.showError(response.mensaje, false, 3000);
                                        }
                                    });
                            $noty.close();
                        }
                        },
                        {
                            addClass: 'btn btn-primary boton-1 centered2', text: 'Cancelar', onClick: function ($noty) {
                            $noty.close();
                        }
                        }
                    ]
                });
            });
        }
    });

    $('#jqGrid').jqGrid('setGridWidth', '900');

    function acciones(cellValue, options, rowdata, action) {
        var acciones = '';
        acciones = '<a href="javascript:void(0)" class="btn btn-warning icono-ver" data-idTipoBungalow-ver="' + rowdata['id'] + '" title="Ver Bungalow"><img src="img/Iconos/ver.png" class="icono"></a>' +
                '<a href="javascript:void(0)" class="btn btn-warning icono-modificar" data-idTipoBungalow-modificar="' + rowdata['id'] + '" title="Modificar Bungalow"><img src="img/Iconos/modificar.png" class="icono"></a>' +
                '<a href="javascript:void(0)" class="btn btn-warning icono-eliminar" data-idTipoBungalow-eliminar="' + rowdata['id'] + '" title="Eliminar Bungalow"><img src="img/Iconos/eliminar.png" class="icono"></a>';
        return acciones;
    }
</script>
</body>
</html>