<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <!--<div id="head"></div>-->
    <meta charset="UTF-8">
    <title>Registrar Taller</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/img/Logos/ClubSisIcon.ico">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0">
    <link rel='stylesheet' href='webjars/bootstrap/3.3.6/css/bootstrap.min.css'/>
    <!--<link rel="stylesheet" href="css/estiloLogin.css">-->

    <script src="webjars/jquery/2.2.3/jquery.min.js"></script>
    <link rel="stylesheet" href="webjars/jquery-ui/1.11.4/jquery-ui.css"/>

    <script src="https://code.jquery.com/ui/jquery-ui-git.js"></script>
    <link rel="stylesheet" type="text/css" media="screen"
          href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
    <script type="text/javascript"
            src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
    </script>
    <link rel="stylesheet" href="css/estilosRegBungalows.css">

    <style type="text/css">
        .ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
            background: #008D34;
        }

        .ui-jqgrid-sortable {
            color: azure;
            background-color: #008D34;
        }

        .ui-jqgrid-resize-ltr {
            background-color: #008D34;
        }

        .btn-warning {
            padding-top: 2px;
            padding-bottom: 2px;
            padding-right: 2px;
            padding-left: 2px;
            background-color: #ededed;
            border-color: #ededed;
        }

        .icono {
            width: 19px;
        }

        h4 {
            background: #008D34;
            color: white;
            padding-left: 30px;
            margin-left: 0px;
            padding-top: 2px;
            padding-bottom: 2px;
            margin-top: 0px;
        }

        hr {
            margin-top: 0px;
            margin-bottom: 10px;
        }

        .obligatorio {
            color: #FF0000;
        }
    </style>
</head>
<body ng-controller="AcademiaController">
<div id="headerAdministrador"></div>
<div class="container">
    <!--------------------------------------------------------------------------------------------------------
    --------------------------------------------------------------------------------------------------------->
    <h2>Registrar Taller</h2>
    <!--<p>Vista en construccion. Basicamente aca se podrá registrar un taller y todos sus datos!</p>-->
    <!--<hr>-->
    <form id="formRegistrarTaller" class="form-horizontal mitadDerecha">

        <div id="NombreTaller" class="form-group">
            <label class="control-label col-xs-4">Nombre Taller<span class="obligatorio"> *</span></label>
            <div class="input-group col-xs-8">
                <input type="text" class="form-control col-xs-8" ng-model="nombre" maxlength="50" placeholder="Escriba el nombre..." required/>
            </div>
        </div>

        <div id="Descripción" class="form-group">
            <label class="control-label col-xs-4">Descripción<span class="obligatorio"> *</span></label>
            <div class="input-group col-xs-8">
                <textarea name="Descripción" rows="5" class="form-control col-xs-8" ng-model="descripcion"  placeholder="Describa aquí el taller..." required/></textarea>
            </div>
        </div>

        <div id="urlFoto" class="form-group">
            <label class="control-label col-xs-4">URL</label>
            <div class="input-group col-xs-8">
                <input id="url" ng-model="url" class="form-control" type="file">
            </div>
        </div>

        <div class="form-group">
            <label for="estadoAcademia" class="col-md-4 control-label">Estado<span class="obligatorio"> *</span></label>
            <div class="col-md-8">
                <select class="form-control" id="estadoAcademia"  >
                    <option>INHABILITADO</option>
                    <option>HABILITADO</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <span class="obligatorio" style="margin-left: 260px;">(*) Estos campos son obligatorios</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-4 col-xs-8">
                <input type="button" id="btnRegistrar" value="Guardar" class="btn btn-primary" style="width:25%"/>
                <input type="button" value="Cancelar" class="btn btn-primary" style="width:25%" onclick="location.href= 'administrarTalleres2.html';"/>
                <!input type="submit" value="Cancelar" class="btn btn-primary" style="width:25%" onclick="location.href= 'administrarProveedores.html';"/>
            </div>
        </div>

    </form>

    <!--------------------------------------------------------------------------------------------------------
    --------------------------------------------------------------------------------------------------------->
</div>
<div id="footer"></div>
<script src="webjars/jquery/2.2.3/jquery.min.js"></script>
<script src="webjars/jquery-ui/1.11.4/jquery-ui.min.js"></script>
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="webjars/noty/2.3.8/js/noty/jquery.noty.js"></script>
<script src="webjars/noty/2.3.8/js/noty/layouts/top.js"></script>
<script src="webjars/noty/2.3.8/js/noty/layouts/topLeft.js"></script>
<script src="webjars/noty/2.3.8/js/noty/layouts/topRight.js"></script>
<script src="webjars/noty/2.3.8/js/noty/themes/default.js"></script>
<script src="js/principal.js"></script>
<script src="js/Notificaciones.js"></script>
<script type="text/javascript">
    var app = angular.module('app', []);

 //   app.controller('AcademiaController', function ($scope, $http) {
//        $("#btnRegistrar").click(function () {
//            console.log("Entro");
//            $scope.crearAcademia = function () {
//                console.log("Entro 2");
//                var data = {
//                    //por preguntar
//                    //idSuspension: null,
//                    'nombre': $scope.nombre,
//                    'descripcion': $scope.descripcion,
//                    'url': $scope.url,
//                    'estadoAcademia':$scope.estadoAcademia,
//                };
////                var jsonObj = JSON.parse(data);
//                console.log(data);
//                $http.post('/api/academias', data).success(function (data) {
//                    alert("Taller registrado!!");
//                    location.href="administrarTalleres2.html";
//                    //happy end
//                    //$scope.PostDataResponse = data;
//                })
//                        .error(function (data) {
//                            //aca lo que se hara en caso falle
//                            console.log("fallo");
//                        });
//            }();
//        });
//    });
        //    });

        app.controller('AcademiaController', function ($scope, $http) {
            $("#btnRegistrar").click(function () {
                console.log("Entro");
                $scope.crearAcademia = function () {
                    console.log("Entro 2");
                    var data = {
                        //por preguntar
                        //idSuspension: null,
                        'nombre': $scope.nombre,
                        'descripcion': $scope.descripcion,
                        'url': $scope.url,
                        'estadoAcademia': $("#estadoAcademia").val()
                    };
//                var jsonObj = JSON.parse(data);
                    console.log(data);
                    if (!validarDatos()) {
                        $http.post('/api/academias', data).success(function (data) {
                            Notificaciones.showProcesando();
                            Notificaciones.hideAll();
                            setTimeout(function () {
                                location.href = "administrarTalleres2.html"
                            }, 1000);
                        })
                                .error(function (data) {
                                    //aca lo que se hara en caso falle
                                    Notificaciones.showError("Error al academia");
                                    console.log("fallo");
                                });
                    }
                }();
            });

            function validarDatos() {
                var nombre = $scope.nombre;
                var descripcion = $scope.descripcion;
                var estadoAcademia = $("#estadoAcademia").val();

                if (!nombre) {
                    //alert("No hay nombre");
                    console.log("No hay nombre");
                    Notificaciones.showError('Nombre de taller requerido');
                    $("#nombre").css("border-color", "red");
                    return true;
                }
                else if (!descripcion) {
                    Notificaciones.showError('Descripción del taller requerido');
                    $("#descripcion").css("border-color", "red");
                    return true;
                }


                return false;
            }

            $("#nombre").click(function () {
                $("#nombre").css("border-color", "#ccc");
            });
            $("#descripcion").click(function () {
                $("#descripcion").css("border-color", "#ccc");
            });

        });

</script>
</body>
</html>