    <!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Instalacion Registro</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" href="css/estilosRegBungalows.css">
    <link rel="shortcut icon" type="image/x-icon" href="/img/Logos/ClubSisIcon.ico">
    <link rel='stylesheet' href='webjars/bootstrap/3.3.6/css/bootstrap.min.css'/>
    <link rel="stylesheet" href="webjars/jquery-ui/1.11.4/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
    <!--<link rel="stylesheet" href="css/estiloLogin.css">-->

    <script src="js/Notificaciones.js"></script>
    <script src="js/Instalaciones.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
    <script src="webjars/jquery/2.2.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/jquery-ui-git.js"></script>
    <script type="text/javascript" src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
    </script>
    <script src="webjars/jquery/2.2.3/jquery.min.js"></script>
    <script src="webjars/jquery-ui/1.11.4/jquery-ui.min.js"></script>
    <script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="js/principal.js"></script>

</head>
<body ng-controller="InstalacionController">
<div id="headerUsuario"></div>
<div class="container">
    <h2>Registro Instalacion</h2>
    <hr>
    <form id="formReservaInstalacion" class="form-horizontal mitadDerecha">
        <div id="nombreInstalacion" class="form-group">
            <label class="control-label col-xs-4">Nombre</label>
            <div class="input-group col-xs-8">
                <input ng-model="nombre" id="nombre" type="text" class="form-control col-xs-8" placeholder="Campo 2 tenis,campo 3 de voley, o etc ..."/>
            </div>
        </div>
        <div id="escogerSedeInstalacion" class="form-group">
            <label class="control-label col-xs-4">Escoger Sede</label>
            <div class="col-xs-8">
                <select ng-model="sede" id="sede" class="form-control col-xs-8">
                    <option value="1">Chorrillos</option>
                    <option value="2">Santa Anita</option>
                    <option value="3">Jesus Maria</option>
                </select>
            </div>
        </div>

        <div id="precioReservaInstalacion" class="form-group">
            <label class="control-label col-xs-4">Precio Reserva</label>
            <div class="input-group col-xs-8">
                <input type="text" ng-model="precioReserva" id="precioReserva" class="form-control col-xs-8" placeholder="S/. (Solo Numeros)"/>
            </div>
        </div>
        <div id="capacidadInstalacion" class="form-group">
            <label class="control-label col-xs-4">Capacidad</label>
            <div class="input-group col-xs-8">
                <input ng-model="capacidad" id="capacidad" type="text" class="form-control col-xs-8" placeholder="personas"/>
            </div>
        </div>
        <div id="referenciaInstalacion" class="form-group">
            <label class="control-label col-xs-4">Referencia</label>
            <div class="input-group col-xs-8">
                <input ng-model="referencia" id="referencia" type="text" class="form-control col-xs-8" placeholder="Lugar donde queda"/>
            </div>
        </div>
        <div id="caracteristicasInstalacion" class="form-group">
            <label class="control-label col-xs-4">Caracteristicas</label>
            <div class="input-group col-xs-8">
                <input ng-model="caracteristicas" id="caracteristicas" type="text" class="form-control col-xs-8" placeholder="caracteristicas separadas por '-'"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-4 col-xs-10">
                <input type="" class="btn btn-primary" id="btnRegistrar" value="Registrar" style="width:22%" onclick="alert('Tu registro fue exitoso');location.href='MantenimientoInstalaciones.html';">
                <input type="" class="btn btn-primary" id="btnCancelar" value="Cancelar" style="width:22%" onclick="location.href='MantenimientoInstalaciones.html';">
            </div>
        </div>
    </form>
    <!--
    <div id="detallesBungalows" class="mitadDerecha">
        <div id="BungTipo2" class="show">
            <img class="imgBungalow" style="width:70%; height:70%;float:none;position:relative;left:100px;top:-40px;" src="img/Bungalows/draganddrop.jpg">
        </div>
        <div></div>
    </div>
    -->

</div>
<div id="footer"></div>

<script type="text/javascript">
    $(".date-picker").datepicker();
    var app = angular.module('app', []);
    app.controller('InstalacionController', function ($scope, $http) {
        $("#btnRegistrar").click(function () {
            $scope.registrarInstalacion = function () {
                var data = {
                    'nombre': $scope.nombre,
                    'caracteristicas': $scope.caracteristicas,
                    'referencia': $scope.referencia,
                    'capacidad': parseInt($scope.capacidad),
                    'precioReserva': parseFloat($scope.precioReserva),
                    'estado': 'Habilitado',
                    //'sede':$scope.sede,
                };
//
                console.log(data);

                $http.post('/api/instalaciones', data).success(function (data) {

                    Notificaciones.showProcesando();
                    Notificaciones.hideAll();
                    window.location = "mantenimientoInstalaciones.html";

                })
                .error(function (data) {
                  Notificaciones.showError("Error al crear la instalación.");
                   console.log("fallo");
                 });
            }();
        });
    });
</script>
</body>
</html>