<!DOCTYPE html>
<html lang="en">
<head>
    <!--<div id="head"></div>-->
    <meta charset="UTF-8">
    <title>ClubSis</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/img/Logos/ClubSisIcon.ico">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="webjars/jquery-ui/1.11.4/jquery-ui.css"/>
    <link rel='stylesheet' href='webjars/bootstrap/3.3.6/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='webjars/jqgrid/4.7.0/css/ui.jqgrid.css'/>
    <title>Title</title>
    <!--Estilos nuevos creados se pueden mover a otro lado, a otro css nuevo-->
    <style type="text/css">
        .icono {
            width: 18px;
        }
        .ui-jqgrid .ui-jqgrid-bdiv {
            position: relative;
            margin: 0;
            padding: 0;
            overflow: hidden;
            text-align: left;
        }
        .ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr{
            background: #008D34;
        }
        .ui-jqgrid-sortable {
            color: azure;
            background-color: #008D34;
        }
        .ui-jqgrid-resize-ltr{
            background-color: #008D34;
        }
        .btn-warning{
            padding-top: 2px;
            padding-bottom: 2px;
            padding-right: 2px;
            padding-left: 2px;
            background-color: #ededed;
            border-color: #ededed;
        }

        .   {
            width: 20px;
        }

        h4{
            background: #008D34;
            color: white;
            padding-left: 30px;
            margin-left: 0px;
            padding-top: 2px;
            padding-bottom: 2px;
            margin-top: 0px;
        }

        hr{
            margin-top: 0px;
            margin-bottom: 10px;
        }
    </style>
    <script type="text/javascript">
        var datosUrl;
    </script>
    <script type="text/javascript">

        var appAprobarMembresia = angular.module('appAprobarMembresia', []);
        //        appAprobarMembresia.directive('ngJqGrid', function () {
        //            return {
        //                restrict: 'E',
        //                scope: {
        //                    config: '=',
        //                    data: '=',
        //                },
        //                link: function (scope, element, attrs) {
        //                    var table;
        //
        //                    scope.$watch('config', function (newValue) {
        //                        element.children().empty();
        //                        table = angular.element('<table></table>');
        //                        element.append(table);
        //                        $(table).jqGrid(newValue);
        //                    });
        //
        //                    scope.$watch('data', function (newValue, oldValue) {
        //                        var i;
        //                        for (i = oldValue.length - 1; i >= 0; i--) {
        //                            $(table).jqGrid('delRowData', i);
        //                        }
        //                        for (i = 0; i < newValue.length; i++) {
        //                            $(table).jqGrid('addRowData', i, newValue[i]);
        //                        }
        //                    });
        //                }
        //            };
        //        });

        appAprobarMembresia.controller('MembresiaController', function ($scope, $http) {
            $http.get('/api/postulantes').then(function (respuesta) {
                //datosUrl=respuesta.data;
                var datosUrl= $.grep(respuesta.data, function (element, index) {
                    return element.esActivo == true;
                });
                $("#jqGrid").jqGrid({
                    data: datosUrl,
                    mtype: "GET",
                    styleUI : 'Bootstrap',
                    datatype: "local",
                    gridview: true,
                    emptyrecords: 'No se encontraron resultados',
                    //Aqui hay que guiarse de la tabla de la base de datos que va a tener la tabla Productos
                    colModel: [
                        { label: 'ID', name: 'id', key: true, hidden:true,width: 75},
                        { label: 'Nombre', name: 'nombre', align: 'center', width: 70 },
                        { label: 'Apellido Paterno', name: 'apellidoPaterno', align: 'center', width: 100 },
                        { label: 'Apellido Materno', name: 'apellidoMaterno', align: 'center', width: 100 },
                        { label: 'Correo', name: 'correo', align: 'center', width: 120 },
                        { label: 'Tipo Doc.', name: 'tipoDocumento', align: 'center', width: 80 },
                        { label: 'Numero Doc.', name: 'numeroDocumento', align: 'center', width: 100 },
                        { label: 'Fecha Postulación', name: 'fechaPostulacion', align: 'center', width: 120 },
                        //{ label: 'Ver', name: 'acciones', width: 50, align: 'center', formatter: acciones},
                    ],
                    viewrecords: true,
                    height: "auto",
                    width: 900,
                    rowNum: 10,
                    multiselect: true,
                    pager: "#jqGridPager"
                });
            })
            $scope.enviarRechazo =function (){
                var grid = $("#jqGrid");
                var rowKey = grid.getGridParam("selrow");

                if (!rowKey)
                    Notificaciones.showError("No hay postulante seleccionados");
                else {
                    var selectedIDs = grid.getGridParam("selarrrow");
                    var result = "";
                    var mensaje="Han sido rechazadas las solicitudes seleccionadas satisfactoriamente.";
                    for (var i = 0; i < selectedIDs.length; i++) {
                        var data= selectedIDs[i];
                        $http.post('/api/membresias/'+ data+'/rechazar').success(function (data ) {
                            result += selectedIDs[i] + ",";
                            Notificaciones.showNoty('Se rechazó su membresía del postulante '+data+' satisfactoriamente', Notificaciones.type.SUCCESS);
                            setTimeout(700);
                        }).error(function (data2) {
                            console.log(JSON.stringify(data));
                            Notificaciones.showError("No se pudo rechazar las solicitudes seleccionadas");

                        });
                        result += selectedIDs[i] + ",";
                    }
                    setTimeout(function () {
                        location.href = "responderMembresia.html"
                    }, 1200);
                }
            }
            $scope.enviarAprobacion =function (){
                var grid = $("#jqGrid");
                var rowKey = grid.getGridParam("selrow");

                if (!rowKey)
                    Notificaciones.showError("No hay postulante seleccionados");
                else {
                    var selectedIDs = grid.getGridParam("selarrrow");
                    var result = "";
                    var mensaje= "Tu aprobacion de membresia se realizó satisfactoriamente.";
                    for (var i = 0; i < selectedIDs.length; i++) {
                        var data= selectedIDs[i];
                        $http.post('/api/membresias/'+ data+'/aprobar').success(function (data ) {
                            result += selectedIDs[i] + ",";
                            Notificaciones.showNoty('Se aprobó su membresía del postulante '+data+' satisfactoriamente', Notificaciones.type.SUCCESS);
                            setTimeout(700);
                        }).error(function (data2) {
                            Notificaciones.showError("Tu aprobación de membresa de no se pudo realizar.");
                        });
                        result += selectedIDs[i] + ",";
                    }
                    setTimeout(function () {
                        location.href = "responderMembresia.html"
                    }, 1200);
                }
            }
        });
    </script>

</head>
<body>
<div id="headerAdministrador"></div>
<div class="container" ng-app="appAprobarMembresia" ng-controller="MembresiaController">
    <h2>Aprobación de membresía</h2>

    <hr>
    <form id="formFiltrado" class="form-horizontal">
        <!--<h4>FILTRO DE BÚSQUEDA</h4>-->
        <!--<div class="row">-->
            <!--<div class="col-sm-6 col-lg-5">-->
                <!--<div class="form-group">-->
                    <!--<label for="nombre" class="col-md-4 control-label">Nombre</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<input type="text" class="form-control" id="nombre" placeholder="Nombre del Socio">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-6 col-lg-5">-->
                <!--<div class="form-group">-->
                    <!--<label for="appPaterno" class="col-md-4 control-label">Apellido Paterno</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<input type="text" class="form-control" id="appPaterno" placeholder="Apellido Paterno del Socio">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-6 col-lg-5">-->
                <!--<div class="form-group">-->
                    <!--<label for="appMaterno" class="col-md-4 control-label">Apellido Materno</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<input type="text" class="form-control" id="appMaterno" placeholder="Apellido Materno del Socio">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-6 col-lg-5">-->
                <!--<div class="form-group">-->
                    <!--<label for="dni" class="col-md-4 control-label">Número de Doc.</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<input type="text" class="form-control" id="dni" placeholder="DNI del Socio">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-6 col-lg-5">-->
                <!--<div class="form-group">-->
                    <!--<label for="correo" class="col-md-4 control-label">Correo</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<input type="text" class="form-control" id="correo" placeholder="Correo del Socio">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-6 col-lg-5">-->
                <!--<div class="form-group">-->
                    <!--<label for="fecha" class="col-md-4 control-label">Fecha Postulación</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<input type="text" class="form-control" id="fecha" placeholder="Nombre del Socio">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-7 col-lg-7">-->
            <!--</div>-->
            <!--<div class="col-sm-5 col-lg-5">-->
                <!--<div class="form-group" style="margin-left: 60px;">-->
                    <!--<a href="javascript:void(0)" class="btn btn-primary">Buscar</a>-->
                    <!--<button onclick="limpiarF()" class="btn btn-primary">Limpiar</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <h4>LISTADO DE POSTULANTES</h4>
        <h5>Seleccione los postulantes que desea aprobar su Membresía:</h5>
        <div class="rowchangeg" style="width: 900px; margin-left: auto; margin-right: auto;">
            <table id="jqGrid"></table>
            <div id="jqGridPager"></div>
        </div>
        <br>

        <div class="col-sm-7 col-lg-7">
        </div>
        <div class="col-sm-5 col-lg-5">
            <div class="form-group" style="margin-left: 85px;">
                <button ng-click="enviarAprobacion()" class="btn btn-primary">Aprobar</button>
                <button ng-click="enviarRechazo()" class="btn btn-primary">Rechazar</button>
                <a href="loginUsuario.html" class="btn btn-primary">Cancelar</a>
            </div>
        </div>
    </form>
</div>
<div id="footer"></div>
<script src="webjars/jquery/2.2.3/jquery.min.js"></script>
<script src="webjars/jquery-ui/1.11.4/jquery-ui.min.js"></script>
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="webjars/jqgrid/4.7.0/js/i18n/grid.locale-en.js"></script>
<script src="webjars/jqgrid/4.7.0/js/jquery.jqGrid.js"></script>
<script src="webjars/noty/2.3.8/js/noty/jquery.noty.js"></script>
<script src="webjars/noty/2.3.8/js/noty/layouts/top.js"></script>
<script src="webjars/noty/2.3.8/js/noty/layouts/topLeft.js"></script>
<script src="webjars/noty/2.3.8/js/noty/layouts/topRight.js"></script>
<script src="webjars/noty/2.3.8/js/noty/themes/default.js"></script>
<script src="js/Notificaciones.js"></script>
<script src="js/principal.js"></script>
<script type="text/javascript">

    //$('#jqGrid').jqGrid('setGridWidth', '900');

    function acciones(cellValue, options, rowdata, action) {
        var acciones = '';
        acciones = '<a href="javascript:void(0)" class="btn btn-warning" data-idEvento-ver="' + rowdata['idProducto'] + '" title="Ver Detalle"><img src="img/Iconos/ver.png" class="icono"></a>'
        return acciones;
    }
    function limpiarF() {
        document.getElementById("formFiltrado").reset();
    }
</script>
</body>
</html>