<!DOCTYPE html>
<html lang="en" ng-app="app3" >
<head>
    <!--<div id="head"></div>-->
    <meta charset="UTF-8">
    <title>ClubSis</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/img/Logos/ClubSisIcon.ico">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0">
    <link rel='stylesheet' href='webjars/bootstrap/3.3.6/css/bootstrap.min.css'/>

    <link rel="stylesheet" href="webjars/jquery-ui/1.11.4/jquery-ui.css"/>
    <!--<link rel="stylesheet" href="css/estiloLogin.css">-->
    <title>Title</title>
    <style type="text/css">
        h4{
            background: #008D34;
            color: white;
            padding-left: 30px;
            margin-left: 0px;
            padding-top: 2px;
            padding-bottom: 2px;
            margin-top: 0px;
        }

        hr{
            margin-top: 0px;
            margin-bottom: 10px;
        }
        .obligatorio {
            color: #FF0000;
        }
    </style>
    <script type="text/javascript">
        function verificarDatos(){
            var mensajes=["La fecha de Inicio debe ser despues de hoy",
                "Le fecha de Fin no es válida"
            ]
            var ver=[];
            ver[0]=Date.parse($("#date-picker-TiempoInicio")[0].value)>=Date.parse( Date());

            if(isNaN(Date.parse($("#date-picker-TiempoFin")[0].value))==true){
                ver[1]=true;
            }
            else{
                ver[1]=Date.parse($("#date-picker-TiempoFin")[0].value)>=Date.parse($("#date-picker-TiempoInicio")[0].value);
            }
            ver[2]=true;
            for(var i=0;i<ver.length;i++)
                if(ver[i]==false) {
                    alert(mensajes[i]);
                    return false;
                }
            return true;
        }
        var app3 = angular.module('app3', []);
        var socioResp,persona;
        app3.controller('SuspensionController', function ($scope, $http) {
            $http.get('/api/socios/1').then(function (respuesta) {
                socioResp=respuesta.data;
            });
            $http.get('/api/socios/1/personaasociada').then(function (respuesta) {
                persona=respuesta.data;
                $scope.ngSocio=persona.nombre+" "+persona.apellidoPaterno;
            });

            $scope.enviarSolicitud =function (){
                if(!verificarDatos())return;
                var data = {
                        //por preguntar
                    "estado": 0,
                    "fechaSolicitud": "",
                    "fechaRespuesta": "",
                    "fechaAnulacion": "",
                    "fechaInicio": Date.parse($("#date-picker-TiempoInicio")[0].value),
                    "fechaFin": Date.parse($("#date-picker-TiempoFin")[0].value),
                    "motivoSuspension": $scope.motivo,
                    "socio": socioResp
                };

                $http.post('/api/suspensiones', data).success(function (data2 ) {
                    //happy end
                    //$scope.PostDataResponse = data;
                    console.log(JSON.stringify(data2));
                    alert("Tu registro de suspension fue hecha exitosamente.");
                    window.location="loginUsuario.html"
                })
                        .error(function (data2) {
                            console.log(JSON.stringify(data2));
                            alert("Tu registro de suspension no se pudo realizar.");
                        });
            };
        });
    </script>

</head>
<body ng-controller="SuspensionController">
<div id="headerUsuario"></div>
<div class="container">
    <h2>Membresía</h2>
    <hr>
    <h4>SOLICITUD DE SUSPENSIÓN DE MEMBRESÍA</h4>
    <form class="form-horizontal col-sm-7 col-sm-offset-1" role="form">
        <div class="form-group">
            <label class="col-xs-5 control-label">Nombre Socio</label>
            <div class="col-xs-7">
                <input type="text" ng-model="ngSocio" disabled placeholder="" class="form-control "/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-5 control-label">Motivo<span class="obligatorio">*</span></label>
            <div class="col-xs-7">
                <textarea class="form-control" ng-model="motivo" maxlength="250" rows="5" placeholder="Ingresar los motivos..." ></textarea>
                <!--<input type="text" name="motivo" maxlength="30" autofocus="autofocus" tabindex="1" autocomplete="off" placeholder="" class="form-control validate[required]"/>-->
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-5" >Fecha de Inicio<span class="obligatorio">*</span></label>
            <div class="col-xs-7 date">
                <div class="input-group input-append date">
                    <input id="date-picker-TiempoInicio" ng-model="fechaIni" type="text" class="date-picker form-control col-xs-6" required/>
                    <label for="date-picker-TiempoInicio" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-5">Fecha de Fin</label>
            <div class="col-xs-7 date">
                <div class="input-group input-append date">
                    <input id="date-picker-TiempoFin" ng-model="fechaFin" type="text" class="date-picker form-control col-xs-6"/>
                    <label for="date-picker-TiempoFin" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-xs-offset-5 col-xs-9">
            <button ng-click="enviarSolicitud()" class="btn btn-primary">Enviar Solicitud</button>
            <a id="Cancelar" href="loginUsuario.html" class="btn btn-primary">Cancelar</a>
        </div>
    </form>

</div>
<div id="footer"></div>
<script src="webjars/jquery/2.2.3/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="js/principal.js"></script>
<script src="webjars/jquery-ui/1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript">
    $(".date-picker").datepicker();
</script>

</body>
</html>