<!DOCTYPE html>
<html lang="en" >
<head>
    <!--<div id="head"></div>-->
    <meta charset="UTF-8">
    <title>ClubSis</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/Logos/ClubSisIcon.ico">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="webjars/jquery-ui/1.11.4/jquery-ui.css"/>
    <link rel='stylesheet' href='webjars/bootstrap/3.3.6/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='webjars/jqgrid/4.7.0/css/ui.jqgrid.css'/>
    <link rel="stylesheet" href="webjars/fancybox/2.1.5/jquery.fancybox.css" type="text/css" media="screen"/>
    <title>Title</title>
    <!--Estilos nuevos creados se pueden mover a otro lado, a otro css nuevo-->
    <style type="text/css">
        .ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
            background: #008D34;
        }

        .ui-jqgrid-sortable {
            color: azure;
            background-color: #008D34;
        }

        .ui-jqgrid-resize-ltr {
            background-color: #008D34;
        }

        .btn-warning {
            padding-top: 2px;
            padding-bottom: 2px;
            padding-right: 2px;
            padding-left: 2px;
            background-color: #ededed;
            border-color: #ededed;
        }

        .icono {
            width: 19px;
        }

        h4 {
            background: #008D34;
            color: white;
            padding-left: 30px;
            margin-left: 0px;
            padding-top: 2px;
            padding-bottom: 2px;
            margin-top: 0px;
        }

        hr {
            margin-top: 0px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div id="headerAdministrador"></div>
<div class="container" id="VerPostulanteID" ng-controller="VerPostulanteController" ng-app="app">
    <!--<input type="hidden" name="estaModificarPostulante" id="estaModificarPostulante" value=($location.search()).estaModificarPostulante>-->
    <!--Aqui irá su codigo intermedio para que hagan sus modificaciones de las pestañas el headerUsuario ya tiene-->
    <!--el banner de opciones de menu para el usuario, esto lo pueden utilizar para hacer sus vistas es una plantilla
    pueden generar otro javascript un archivo .js para que puedan usar sus javascripts en sus htmls, sean ordenados-->
    <div>
        <h3>
            INFORMACIÓN DEL POSTULANTE AL CLUB
        </h3>
    </div>
    <hr>
    <h4>DATOS DEL POSTULANTE</h4>

    <form class="form-horizontal">
        <div class="row">
            <div class="col-sm-6 col-lg-6">
                <div class="form-group">
                    <label for="tipoDocumento" class="col-md-5 control-label">Tipo de Documento</label>
                    <div class="col-md-6">
                        <select class="form-control" id="tipoDocumento" ng-model="postulantes.tipoDocumento">
                            <option value="-1" ng-selected="selected">Elegir</option>
                            <option value="DNI">DNI</option>
                            <option value="Pasaporte">Pasaporte</option>
                            <option value="Carnet de extranjería">Carnet de extranjería</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-5">
                <div class="form-group">
                    <label for="numeroDocumento" class="col-md-4 control-label">N° de Documento</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control" ng-model="postulantes.numeroDocumento" id="numeroDocumento"
                               placeholder="Numero de documento">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6">
                <div class="form-group">
                    <label for="nombre" class="col-md-5 control-label">Nombres</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" ng-model="postulantes.nombre" id="nombre"
                               placeholder="Nombre completo">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-5">
                <div class="form-group">
                    <label for="apellidoPaterno" class="col-md-4 control-label">Apellido Paterno</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control" ng-model="postulantes.apellidoPaterno" id="apellidoPaterno"
                               placeholder="Apellido paterno">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6">
                <div class="form-group">
                    <label for="apellidoMaterno" class="col-md-5 control-label">Apellido Materno</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" ng-model="postulantes.apellidoMaterno" id="apellidoMaterno"
                               placeholder="Apellido Materno">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-5">
                <div class="form-group">
                    <label for="estadoCivil" class="col-md-4 control-label">Estado Civil</label>
                    <div class="col-md-7">
                        <select class="form-control" id="estadoCivil" ng-model="postulantes.estadoCivil">
                            <option value="-1" ng-selected="selected">Elegir</option>
                            <option value="Soltero">Soltero</option>
                            <option value="Casado">Casado</option>
                            <option value="Divorciado">Divorciado</option>
                            <option value="Viudo">Viudo</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-6 col-lg-5" style="margin-left: 52px;">
                <label for="fechaNacimiento" class="col-md-5 control-label">Fecha de Nacimiento</label>
                <div class="input-group input-append date col-md-7">
                    <input ng-model=postulantes.fechaNacimiento id="fechaNacimiento" type="text" class="date-picker form-control col-xs-6 col-md-7"/>
                    <label for="fechaNacimiento" class="input-group-addon btn"><span
                            class="glyphicon glyphicon-calendar"></span>
                    </label>
                </div>
            </div>
            <div class="col-sm-6 col-lg-5" style="margin-left: 20px;">
                <div class="form-group">
                    <label for="numeroHijos" class="col-md-5 control-label">N° de hijos</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" ng-model="postulantes.numeroHijos" id="numeroHijos"
                               placeholder="Cantidad de hijos">
                    </div>
                    <label for="numeroHijos" class="control-label" style="margin-left: 24px;">hijos</label>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6">
                <div class="form-group">
                    <label for="telefonoCasa" class="col-md-5 control-label">Teléfono de casa</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" ng-model="postulantes.telefonoCasa" id="telefonoCasa"
                               placeholder="Numero de teléfono de casa">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-5">
                <div class="form-group">
                    <label for="celular" class="col-md-4 control-label">Celular</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control" ng-model="postulantes.celular" id="celular"
                               placeholder="Numero de teléfono celular">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6">
                <div class="form-group">
                    <label for="telefonoTrabajo" class="col-md-5 control-label">Teléfono de trabajo</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" ng-model="postulantes.telefonoTrabajo" id="telefonoTrabajo"
                               placeholder="Numero de teléfono de trabajo">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-5">
                <div class="form-group">
                    <label for="profesion" class="col-md-4 control-label">Profesión</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control" ng-model="postulantes.profesion" id="profesion"
                               placeholder="Profesión del socio">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6">
                <div class="form-group">
                    <label for="correo" class="col-md-5 control-label">Correo</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" ng-model="postulantes.correo" id="correo"
                               placeholder="Correo del socio">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-5">
                <div class="form-group">
                    <label for="ingresosMensuales" class="col-md-4 control-label">Ingreso mensual</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" ng-model="postulantes.ingresosMensuales" id="ingresosMensuales"
                               placeholder="Ingreso mensual">
                    </div>
                    <label for="ingresosMensuales" style="margin-left: 22px">soles</label>
                </div>
            </div>
            <div class="col-sm-6 col-lg-10">
                <div class="form-group">
                    <label for="direccion" class="col-md-3 control-label">Dirección</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="postulantes.direccion" id="direccion"
                               placeholder="Dirección de vivienda del socio postulante (Referencia)" style="width: 755px;">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-10">
                <div class="form-group">
                    <label for="nombreEmpresa" class="col-md-3 control-label">Empresa</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="postulantes.nombreEmpresa" id="nombreEmpresa"
                               placeholder="Nombre de la empresa donde labora el socio postulante" style="width: 755px;">
                    </div>
                </div>
            </div>
            <div class="col-sm-7 col-lg-9">
            </div>
            <div class="col-sm-5 col-lg-3">
                <div class="form-group">
                    <a href="mantenimientoPostulante.html" class="btn btn-primary" id="btnCancelar" style="margin-left: 50px;">Cancelar</a>
                </div>
            </div>
<!------------------------------------ -->
            <div id="observaciones">
                <div class="col-sm-12 col-lg-12">
                    <h3>Observaciones de Otros socios:</h3>
                </div>
                <!--<div class="col-sm-6 col-lg-5">
                    <div class="form-group">
                        <label for="opinion1" class="col-md-4 control-label">Código de Socio:</label>
                        <div class="col-md-7">
                            <label type="text" class="control-label" id="opinion1">
                                Be that girl wathc dancig w¡queeen <br>
                                holiday..... hey sooooo i cna<br>
                                some come us the best<br>
                                the never secaond never lasts wake me up one september ends<br>
                                when my fathers .... seven years then wake me up....
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-6">
                    <div class="form-group">
                        <label for="opinion2" class="col-md-5 control-label">Código de Socio:</label>
                        <div class="col-md-6">
                            <label type="text" class="control-label" id="opinion2">
                                wake me up when september ends.....<br>
                                yoyoyo ..... the last second never last ....<br>
                                beteria........<br>
                                ring the angels bells again....<br>
                                as my memories the never focus what i last... wake me up <br>
                                when september ends....
                            </label>
                        </div>
                    </div>
                </div>-->
            </div>
<!------------------------------------ -->
        </div>
    </form>
</div>
<br>
<br>
<div id="footer"></div>
<script src="webjars/jquery/2.2.3/jquery.min.js"></script>
<script src="webjars/jquery-ui/1.11.4/jquery-ui.min.js"></script>
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="webjars/jqgrid/4.7.0/js/i18n/grid.locale-en.js"></script>
<script src="webjars/jqgrid/4.7.0/js/jquery.jqGrid.js"></script>
<script src="webjars/jquery-ui/1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="webjars/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="webjars/fancybox/2.1.5/jquery.fancybox.js"></script>
<script src="webjars/noty/2.3.8/js/noty/jquery.noty.js"></script>
<script src="webjars/noty/2.3.8/js/noty/layouts/top.js"></script>
<script src="webjars/noty/2.3.8/js/noty/layouts/topLeft.js"></script>
<script src="webjars/noty/2.3.8/js/noty/layouts/topRight.js"></script>
<script src="webjars/noty/2.3.8/js/noty/themes/default.js"></script>
<script src="js/principal.js"></script>
<script src="js/Notificaciones.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
<script type="text/javascript">
    function crearObservaciones(nro,nombre,data){
        var index=(nro+1)%2;
        var lengs=[[5,6],[[4,7],[5,6]]];
        var form=$("<div>").attr({"class":"form-group"});
        var observaciones=$("<div>").attr({
            "class":"col-sm-6 col-lg-"+lengs[0][index]//6 5
        }).append(form);
        var b=new Array();
        b[0]=$("<label>").attr({"for":"opinion"+nro,"class":"col-md-"+lengs[1][index][0]+" control-label"}).html(nombre);//4 7
        b[1]=$("<div>").attr({"class":"col-md-"+lengs[1][index][1]}).append($("<label>").attr({"type":"text","class":"control-label","id":"opinion"+nro}).html(data));
        for(var j=0;j<b.length;j++)
            form.append(b[j]);
        $("#observaciones").append(observaciones);
        return observaciones;
    }
</script>
<script type="text/javascript">
    $(".date-picker").datepicker();

    var ruta = parent.document.URL.substring(parent.document.URL.indexOf('?'), parent.document.URL.length);
    var idPostulante = ruta.substring(ruta.lastIndexOf('=') + 1);

    var app = angular.module('app', []);
    app.controller('VerPostulanteController', function ($scope, $http) {
        $scope.postulantes = [];
        //Traigo a todos los postulantes con esta funcion get que me obtiene solo un postulante con un ID dado
        $http.get('/api/postulantes/' + idPostulante).success(function (data) {
            $scope.postulantes = data;
            var fecha = $scope.postulantes.fechaNacimiento;
            var dia = fecha.split("-");
            fechaNacimiento = dia[2].split(' ')[0] + '/' + dia[1] + '/' + dia[0];
            console.log(fechaNacimiento);
            $scope.postulantes.fechaNacimiento = fechaNacimiento;
        });
        $http.get('api/sociopostulantes/'+idPostulante+'/retornar').success(function(observaciones){
            $http.get('api/sociopostulantes/'+idPostulante+'/socios').success(function(socios){
                var actual=0;
                for(var i=0;i<socios.length;i++) {
                    $http.get('/api/socios/' + socios[i].id + '/personas').success(function (dataPersonas) {
                        var socio=socios[actual];var observacion=observaciones[actual];
                        var dataTitular = $.grep(dataPersonas, function (e) {
                            return e.id == idFamiliar || (!idFamiliar && (e.esTitular == true));
                        })[0];
                        actual++;
                        crearObservaciones(actual, dataTitular?(dataTitular.nombre+" "+dataTitular.apellidoPaterno):("Socio "+socio.id), observacion);
                    });
                }
            });
        });
    });
    //como estamos en el ver Postulante dissableamos todos los campos posibles
    $("select, input").attr("disabled", true);
</script>
</body>
</html>