<!DOCTYPE html>
<html lang="en" ng-app="app2">
<head>
    <!--<div id="head"></div>-->
    <meta charset="UTF-8">
    <title>ClubSis</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/Logos/ClubSisIcon.ico">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0">
    <link rel='stylesheet' href='webjars/bootstrap/3.3.6/css/bootstrap.min.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
    <script src="webjars/jquery/2.2.3/jquery.min.js"></script>
    <link rel="stylesheet" href="webjars/jquery-ui/1.11.4/jquery-ui.css"/>
    <script src="https://code.jquery.com/ui/jquery-ui-git.js"></script>
    <link rel="stylesheet" type="text/css" media="screen"
          href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
    <script type="text/javascript"
            src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
    </script>

    <script src="js/Notificaciones.js"></script>
    <!--<link rel="stylesheet" href="css/estiloLogin.css">-->
    <title>Title</title>
    <style>
        h4 {
            background: #008D34;
            color: white;
            padding-left: 30px;
            margin-left: 0px;
            padding-top: 2px;
            padding-bottom: 2px;
            margin-top: 0px;
        }
    </style>
    <script type="text/javascript">
        Date.prototype.ddmmyyyy = function () {
            var yyyy = this.getFullYear().toString();
            var mm = (this.getMonth() + 1).toString(); // getMonth() is zero-based
            var dd = this.getDate().toString();
            return (dd[1] ? dd : "0" + dd[0]) + "/" + (mm[1] ? mm : "0" + mm[0]) + "/" + yyyy; // padding
        };
        function getIDSocioYFamiliar() {
            var href = this.location.href;
            var str = href.match(/\?idSocio\=(\d+)(&idFamiliar\=(\d+))*/);
            return str ? [str[1], str[3]] : undefined;
        }
        function llenarCampos(data, dataTitular) {
            $("#codigoSocio").html(data.id);
            $("#estado").html(data.estado);
            $("#codigocarnet").html(data.codigoCarnet);
            $("#tipoMembresia").html(data.tipo.nombre);

            $("#tipoDocumento").html(dataTitular.tipoDoc);//$("#tipoDocumento").val(data.tipoDocumento);
            $("#numeroDocumento").html(dataTitular.numDoc);
            $("#nombre").html(dataTitular.nombre);
            $("#apellidoPaterno").html(dataTitular.apellidoPaterno);
            $("#apellidoMaterno").html(dataTitular.apellidoMaterno);
            $("#telefono").html(dataTitular.telefono);

            var fechstr = dataTitular.fechaNacimiento ? (new Date(dataTitular.fechaNacimiento).ddmmyyyy()) : "";
            $("#fechaNacimiento").html(fechstr);
            $("#direccion").html(dataTitular.direccion);
            $("#correo").html(dataTitular.correo);
            $("#esTitular").html(dataTitular.esTitular ? "SI" : "NO");
            //$("#esTitular").val(+dataTitular.esTitular);
            $("#tipo").html(dataTitular.tipo ? dataTitular.tipo : "");
            $("#usuario").html(dataTitular.usuario ? dataTitular.usuario : "");
        }
        function editarSocio() {
            var idSocio = getIDSocioYFamiliar() ? getIDSocioYFamiliar()[0] : undefined;
            location.href = "editarSocio.html?id=" + idSocio;
        }
        function mostrarFamiliares() {
            var idSocio = getIDSocioYFamiliar() ? getIDSocioYFamiliar()[0] : undefined;
            location.href = "miCuenta_familiares.html?id=" + idSocio;
        }
        function editarFamiliar() {
            var idSocio = getIDSocioYFamiliar() ? getIDSocioYFamiliar()[0] : undefined;
            location.href = "modificarFamiliares.html?idSocio=" + idSocio + "&idFamiliar=" + $("#miembro").val();
        }
        function addFamiliar() {
            var idSocio = getIDSocioYFamiliar() ? getIDSocioYFamiliar()[0] : undefined;
            location.href = "registrarFamiliaresDelSocio.html?id=" + idSocio;
        }
        var funciones = {};
        funciones.sancionarSocio = function (event) {
            var idSocio = getIDSocioYFamiliar() ? getIDSocioYFamiliar()[0] : undefined;
            location.href = "asignarMulta.html?id=" + idSocio;
        }
    </script>
    <script type="text/javascript">
        var app2 = angular.module('app2', []);
        var idSocio, idFamiliar, titular = null;
        app2.controller('InformacionSocioController', function ($scope, $http) {
            idSocio = getIDSocioYFamiliar() ? getIDSocioYFamiliar()[0] : undefined;
            idFamiliar = getIDSocioYFamiliar() ? getIDSocioYFamiliar()[1] : undefined;
            $http.get('/api/socios/' + idSocio).success(function (data) {
                //data={id:1,fechaInscripcion:123123123,estado:"activo",codigoCarnet:12123,tipo:{id:1,nombre:"vitalicio"}};
                $http.get('/api/socios/' + idSocio + '/personaasociada').success(function (dataTitular) {
                    titular = dataTitular;
                    llenarCampos(data, dataTitular);
                }).error(function () {
                    Notificaciones.showError("No existe Titular");
                    llenarCampos(data, {});
                });
                $http.get('/api/socios/' + idSocio + '/personas').success(function (dataFamiliares) {
                    if (dataFamiliares.length == 0) {
                        $("#datosPersonas").addClass("hidden");
                        return;
                    }
                    var elemMiembros = $("#miembro");
                    for (var i = 0; i < dataFamiliares.length; i++)
                        elemMiembros.append($("<option></option>").attr({value: dataFamiliares[i].id}).html(dataFamiliares[i].nombre + " " + dataFamiliares[i].apellidoPaterno));
                    if (idFamiliar) {
                        var dataFamiliar1 = $.grep(dataFamiliares, function (e) {
                            return e.id == idFamiliar;
                        })[0];
                        llenarCampos(data, dataFamiliar1);
                    }
                    $('#miembro').on('change', function (e) {
                        var optionSelected = $("option:selected", this);
                        var valueSelected = this.value;
                        var dataFamiliar = $.grep(dataFamiliares, function (e) {
                            return e.id == valueSelected;
                        })[0];
                        console.log(dataFamiliar.id);
                        llenarCampos(data, dataFamiliar)
                    });
                });
            });
        });
    </script>

</head>
<body ng-controller="InformacionSocioController">
<div id="headerUsuario"></div>
<div class="container">
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation"><a href="miCuenta.html">Cuenta</a></li>
        <li role="presentation" class="active"><a href="#">Datos del Socio</a></li>
        <li role="presentation"><a href="#">Perfil</a></li>
        <li role="presentation"><a href="miCuenta_cambiarClave.html">Cambiar clave</a></li>
        <li role="presentation"><a href="#" onclick="mostrarFamiliares();return false;">Familiares asociados</a></li>
    </ul>
    <hr>
    <form class="form-horizontal">
        <div class="form-group col-sm-6 col-lg-5">
            <strong for="codigoSocio" class="col-md-6 control-label">Código de Socio:</strong>
            <span type="text" class="control-label col-md-6" id="codigoSocio" style="text-align:left;"></span>
        </div>
        <div class="form-group col-sm-6 col-lg-5">
            <strong for="estado" class="col-md-6 control-label">Estado:</strong>
            <span type="text" class="col-md-6 control-label" id="estado" style="text-align:left;"></span>
        </div>
        <div class="form-group col-sm-6 col-lg-5">
            <strong for="codigocarnet" class="col-md-6 control-label">Código Carnet:</strong>

            <span type="text" class="col-md-6 control-label" id="codigocarnet" style="text-align:left;">
            </span>
        </div>
        <div class="form-group col-sm-6 col-lg-5">
            <strong for="tipoMembresia" class="col-md-6 control-label">Tipo Membresía:</strong>
            <span type="text" class="col-md-6 control-label" id="tipoMembresia" style="text-align:left;">
            </span>

        </div>
        <div class="col-sm-3 col-lg-3">
        </div>
        <div class="col-sm-5 col-lg-5">
            <div class="form-group" style="margin-left: 60px;">
                <a href="#" onclick="editarSocio();return false;" class="btn btn-primary">Editar</a>
                <a href="#" onclick="addFamiliar();return false;" class="btn btn-primary">Añadir Familiar</a>
                <a href="#" onclick="funciones.sancionarSocio();return false;" class="btn btn-primary">Sancionar</a>
                <a href="persona/mantenimientoSocio.html" class="btn btn-primary">Cancelar</a>
            </div>
        </div>
    </form>
    <form class="form-horizontal" id="datosPersonas">
        <div class="col-sm-12 col-lg-12">
            <div class="form-group">
                <h4>Datos del Familiar<select id="miembro" class="form-control" style="width:200px;"></select></h4>
            </div>
        </div>
        <div class="form-group col-sm-6 col-lg-5">

            <strong for="esTitular" class="col-md-6 control-label">Titular:</strong>
            <span type="text" class="col-md-6 control-label" id="esTitular" style="text-align:left;"></span>
        </div>
        <div class="form-group col-sm-6 col-lg-5">

            <strong for="nombre" class="col-md-6 control-label">Nombres:</strong>
            <span type="text" class="col-md-6 control-label" id="nombre" style="text-align:left;"></span>

        </div>
        <div class="form-group col-sm-6 col-lg-5">
            <strong for="apellidoPaterno" class="col-md-6 control-label">Apellido Paterno:</strong>
            <span type="text" class="col-md-6 control-label" ng-model="apellidoPaterno" id="apellidoPaterno"
                   placeholder="Apellido paterno" maxlength="50" style="text-align:left;"></span>

        </div>
        <div class="form-group col-sm-6 col-lg-5">
            <strong for="apellidoMaterno" class="col-md-6 control-label">Apellido Materno:</strong>
            <span type="text" class="col-md-6 control-label" ng-model="apellidoMaterno" id="apellidoMaterno"
                   placeholder="Apellido Materno" maxlength="50" style="text-align:left;"></span>

        </div>
        <div class="form-group col-sm-6 col-lg-5">
            <strong for="tipoDocumento" class="col-md-6 control-label">Tipo de Documento:</strong>
            <span type="text" class="col-md-6 control-label" id="tipoDocumento" style="text-align:left;"></span>

        </div>
        <div class="form-group col-sm-6 col-lg-5">
            <strong for="numeroDocumento" class="col-md-6 control-label">Nro Documento:</strong>
            <span type="text" class="col-md-6 control-label" id="numeroDocumento" style="text-align:left;"></span>

        </div>
        <div class="form-group col-sm-6 col-lg-5">
            <strong for="fechaNacimiento" class="col-md-6 control-label">Fecha de Nacimiento:</strong>

            <span type="text" class="col-md-6 control-label" ng-model="apellidoMaterno"
                   id="fechaNacimiento" style="text-align:left;"></span>

        </div>
        <div class="form-group col-sm-6 col-lg-5">
            <strong for="direccion" class="col-md-6 control-label">Dirección:</strong>
            <span type="text" class="col-md-6 control-label" id="direccion" style="text-align:left;">
            </span>
        </div>

        <div class="form-group col-sm-6 col-lg-5">
            <strong for="correo" class="col-md-6 control-label">Correo:</strong>
            <span type="text" class="col-md-6 control-label" id="correo" style="text-align:left;"></span>
        </div>

        <div class="form-group col-sm-6 col-lg-5">
            <strong for="telefono" class="col-md-6 control-label">Teléfono:</strong>
            <span type="text" class="col-md-6 control-label" id="telefono" style="text-align:left;"></span>

        </div>
        <div class="col-sm-3 col-lg-3">
        </div>
        <div class="col-sm-5 col-lg-5">
            <div class="form-group" style="margin-left: 60px;">
                <a href="#" onclick="editarFamiliar();return false;" class="btn btn-primary">Editar Familiar</a>
                <a href="#" onclick="mostrarFamiliares();return false;" class="btn btn-primary">Lista Familiares</a>
                <a href="#" onclick="addFamiliar();return false;" class="btn btn-primary">Añadir Familiar</a>
            </div>
        </div>
    </form>

    <!---------------------- -->

</div>
<div id="footer"></div>
<script src="webjars/jquery-ui/1.11.4/jquery-ui.min.js"></script>
<script src="webjars/jquery/2.2.3/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="webjars/noty/2.3.8/js/noty/jquery.noty.js"></script>
<script src="webjars/noty/2.3.8/js/noty/layouts/top.js"></script>
<script src="webjars/noty/2.3.8/js/noty/layouts/topLeft.js"></script>
<script src="webjars/noty/2.3.8/js/noty/layouts/topRight.js"></script>
<script src="webjars/noty/2.3.8/js/noty/themes/default.js"></script>
<script src="js/principal.js"></script>
</body>
</html>