<!DOCTYPE html>
        <html lang="en" ng-app="app">
        <head>
            <meta charset="UTF-8">
            <title>Mantenimiento Instalaciones</title>
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0">

            <link rel="shortcut icon" type="image/x-icon" href="/img/Logos/ClubSisIcon.ico">
            <link rel="stylesheet" href="webjars/jquery-ui/1.11.4/jquery-ui.css"/>
            <link rel='stylesheet' href='webjars/bootstrap/3.3.6/css/bootstrap.min.css'/>
            <link rel='stylesheet' href='webjars/jqgrid/4.7.0/css/ui.jqgrid.css'/>
            <link rel="stylesheet" href="webjars/fancybox/2.1.5/jquery.fancybox.css" type="text/css" media="screen"/>
            <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'/>
            <link rel='stylesheet' href='../css/estilosListaBungalows.css'/>
            <link rel='stylesheet' href='../css/estilosPlantillaBotonesAcciones.css'/>
            <script type="text/javascript" src="../js/generarElementoInstalaciones.js"></script>
            <script type="text/javascript" src="../js/plantillaBotonesAccion.js"></script>
            <script src="webjars/jquery/2.2.3/jquery.min.js"></script>
            <script src="webjars/jquery-ui/1.11.4/jquery-ui.min.js"></script>
            <script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
            <script src="webjars/jqgrid/4.7.0/js/i18n/grid.locale-en.js"></script>
            <script src="webjars/jqgrid/4.7.0/js/jquery.jqGrid.js"></script>
            <script type="text/javascript" src="webjars/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
            <script type="text/javascript" src="webjars/fancybox/2.1.5/jquery.fancybox.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
            <script src="webjars/noty/2.3.8/js/noty/jquery.noty.js"></script>
            <script src="webjars/noty/2.3.8/js/noty/layouts/top.js"></script>
            <script src="webjars/noty/2.3.8/js/noty/layouts/topLeft.js"></script>
            <script src="webjars/noty/2.3.8/js/noty/layouts/topRight.js"></script>
            <script src="webjars/noty/2.3.8/js/noty/themes/default.js"></script>
            <script src="../js/principal.js"></script>
            <script src="../js/Notificaciones.js"></script>



        </head>
<body ng-controller="InstalacionController">
<div id="headerAdministrador"></div>
    <div class="container">
        <div>
            <h3>
                ADMINISTRACIÓN DE INSTALACIONES
                <a href="javascript:void(0)" class="btn btn-primary" id="btnRegistrar" style="margin-left: 480px;" onclick="location.href='../registroInstalacion.html';">Registrar</a>
            </h3>
        </div>
            <div class="form-group">
                <h4 style="background: #008D34;color: white;padding-left: 30px;margin-left: 0px;padding-top: 2px;padding-bottom: 2px;margin-top: 0px;">CONSULTA DE INSTALACIONES </h4>

                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-6 col-lg-5">
                            <div class="form-group">
                                <label  class="col-md-4 control-label">Sede</label>
                                <div class="col-md-8">
                                    <select  id="sedeFiltrado" class="form-control">
                                        <option value="Elegir" selected>Elegir</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-5">
                            <div class="form-group">
                                <label  class="col-md-4 control-label">Tipo</label>
                                <div class="col-md-8">
                                    <select  id="tipoFiltrado" class="form-control">
                                        <option value="Elegir" selected>Elegir</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-5">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Estado</label>
                                <div class="col-md-8">
                                    <select class="form-control" id="estadoFiltrado" data-ng-model="estado" data-ng-options="estado for (id, estado) in estados">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-5">
                            <div class="form-group">
                                <label  class="col-md-4 control-label">Nombre</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="nombreFiltrado" placeholder="Nombre de instalación">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-5">
                            <div class="form-group">
                                <label class="control-label col-md-4">Fecha Inicio</label>
                                <div class="input-group input-append date col-md-8">
                                    <input id="date-picker-DiaSalida" type="text" class="date-picker form-control col-xs-6" />
                                    <label for="date-picker-DiaSalida" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-5">
                            <div class="form-group">

                                <label class="control-label col-md-4">Fecha Fin</label>
                                <div class="input-group input-append date col-md-8">
                                    <input id="date-picker-DiaEntrada" type="text" class="date-picker form-control col-xs-6" />
                                    <label for="date-picker-DiaEntrada" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span>
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-7 col-lg-7">
                        </div>
                        <div class="col-sm-5 col-lg-5">
                            <div class="form-group" style="margin-left: 60px;">
                                <a href="javascript:void(0)" onclick="funciones.buscar()" id="Buscar" class="btn btn-primary">Buscar</a>
                                <a href="javascript:void(0)" id="Limpiar" class="btn btn-primary">Limpiar</a>
                            </div>
                        </div>

                    </div>
                </form>
            </div>


        <div>
            <h4>RESULTADOS DE BÚSQUEDA</h4>
            <div class="rowchangeg" style="width: 900px; margin-left: auto; margin-right: auto;">
                <table id="jqGrid"></table>
                <div id="jqGridPager"></div>
            </div>
            <br>
            <div class="col-sm-7 col-lg-7">
            </div>
            <div class="col-sm-5 col-lg-5">
                <div class="form-group" style="margin-left: 60px;">
                    <a href="javascript:void(0)" id="btnEliminarMultiples" class="btn btn-primary">Eliminar</a>
                    <a href="javascript:void(0)" id="btnHabilitarMultiples" class="btn btn-primary">Habilitar</a>
                    <a href="javascript:void(0)" id="btnDeshabilitarMultiples" class="btn btn-primary">Inhabilitar</a>
                </div>
            </div>
            <br>
            <div class="leyenda">
                <span>Leyenda: </span>
                <span class="icono-editar"><img src="../img/Iconos/ver.png" class="icono"></span> Ver Instalación
                <span class="icono-reprogramar"><img src="../img/Iconos/modificar.png" class="icono"></span> Modificar Instalación
                |
                <span class="icono-resultados"><img src="../img/Iconos/eliminar.png" class="icono"></span> Eliminar Instalación
            </div>
        </div>
    </div>

    <div id="footer"></div>

    <script type="text/javascript">
        $(".date-picker").datepicker();

        var app=angular.module('app',[]);
        app.controller('InstalacionController', function ($scope, $http) {
            var sedes;
            var tipos;
            $scope.estados=[];
            $http.get('/api/sedes').success(function (data) {
                sedes=data;
                sedesElem=$("#sedeFiltrado");
                for(var i=0;i<data.length;i++)
                    sedesElem.append($("<option></option>").attr({value:data[i].nombre}).html(data[i].nombre));
                $http.get('/api/tipoInstalaciones').success(function (data) {
                    tipos=data;
                    tiposElem=$("#tipoFiltrado");
                    for(var i=0;i<data.length;i++)
                        tiposElem.append($("<option></option>").attr({value:data[i].nombre}).html(data[i].nombre));
                    $http.get('/api/instalaciones/getEstadoInstalacion').success(function (data) {
                        $scope.estados=data;
                    })
                })
            })
            $http.get('/api/instalaciones').success(function (data) {
            });
            $("#Limpiar").click(function(){
                $("#sedeFiltrado").val("Elegir");
                $("#estadoFiltrado").val("");
                $("#nombre").val("");
                $("#date-picker-DiaEntrada").val("");
                $("#date-picker-DiaSalida").val("");
                $("#tipoFiltrado").val("Elegir");
            });
        });


    $("#jqGrid").jqGrid({
    url: '/api/instalaciones',
    mtype: "GET",
    styleUI: 'Bootstrap',
    datatype: "json",
    gridview: true,
    emptyrecords: 'No se encontraron resultados',
    colModel: [
    {index: 'id', name: 'id', hidden: true, width: 45},
    {index: 'nombre', name: 'nombre', align: 'center', width: 200},
    {index: 'tipo', name: 'tipo', jsonmap:'tipo.nombre' ,align: 'center', width: 100},
    {index: 'sede', name: 'sede', jsonmap:'sede.nombre' ,align: 'center', width: 100},
    {index: 'capacidad', name: 'capacidad', align: 'center', width: 100},
    {index: 'precioReserva', name: 'precioReserva', align: 'center', width: 100},
    {index: 'estado', name: 'estado', align: 'center', width: 100},
    {index: 'Acciones', name: 'Acciones', width: 150, align: 'center', formatter: acciones}
    ],
    colNames: [
    'idInstalacion', 'Nombre','Tipo','Sede','Capacidad','Precio Reserva','Estado','Acciones'
    ],
    viewrecords: true,
    height: 400,
    rowNum: 20,
    multiselect: true,
    pager: "#jqGridPager",
    loadComplete: function () {

    $('.icono-ver').click(function () {

    var idInstalacion = $(this).attr('data-idInstalacion-ver');
        console.log("idInstalacion " + $(this).attr('data-idInstalacion-ver'));
        window.location='InstalacionInformacion.html?id='+idInstalacion;

    });
    $('.icono-eliminar').click(function () {
        var idInstalacion = $(this).attr('data-idInstalacion-eliminar');
        console.log("idInstalacion eliminando: " + $(this).attr('data-idInstalacion-eliminar'));
        $.noty.closeAll();
        noty({
            text: '¿Está seguro de que desea eliminar la instalación?',
            type: 'warning',
            buttons: [
                {
                    addClass: 'btn btn-primary boton-1 centered1', text: 'Eliminar', onClick: function ($noty) {
                    Notificaciones.hideAll();
                    Notificaciones.showNoty("Eliminación exitosa", Notificaciones.type.SUCCESS);
                    //Llamada AJAX con la cual modificare por detrás en tiempo real el dato que voy a eliminar
                    //Simplemente se le cambiara el estado
                    $.post('/api/instalaciones/eliminar',
                            {id:idInstalacion},
                            function (response) {
                                if (!response.error) {
                                    Notificaciones.hideAll();
                                    Notificaciones.showNoty("Eliminación exitosa", Notificaciones.type.SUCCESS);
                                    $('#grid').trigger('reloadGrid');
                                    setTimeout(function () {
                                        location.href = "MantenimientoInstalaciones.html"
                                    }, 1000);
                                } else {
                                    Noty.hideAll();
                                    Noty.showError(response.mensaje, false, 3000);
                                }
                            });
                    $noty.close();
                }
                },
                {
                    addClass: 'btn btn-primary boton-1 centered2', text: 'Cancelar', onClick: function ($noty) {
                    $noty.close();
                }
                }
            ]
        });
    });
    $('.icono-modificar').click(function () {
        var idInstalacion = $(this).attr('data-idInstalacion-modificar');
        console.log("idInstalacion modificado: " + $(this).attr('data-idInstalacion-modificar'));
        window.location='edicionInstalacion.html?id='+idInstalacion;

    });

        $('#btnEliminarMultiples').click(function () {
            var grid = $("#jqGrid");
            var rowKey = grid.getGridParam("selrow");

            if (!rowKey)
                Notificaciones.showError("No hay instalaciones seleccionada(s) a eliminar");
            else {
                var selectedIDs = grid.getGridParam("selarrrow");
                var result = "";
                var mensaje = "Han sido eliminados las instalaciones seleccionadas satisfactoriamente.";
                for (var i = 0; i < selectedIDs.length; i++) {
                    var data = selectedIDs[i];
                    console.log("Entro Eliminar x");
                    $.post('/api/instalaciones/eliminar',
                            {id: data},
                            function (response) {
                                if (!response.error) {

                                } else {
                                    Noty.hideAll();
                                    mensaje = "No se pudo eliminar las instalaciones seleccionadas";
                                }
                            });
                    result += selectedIDs[i] + ",";
                }
                Notificaciones.showNoty(mensaje);
                setTimeout(function () {
                    location.href = "MantenimientoInstalaciones.html"
                }, 1000);
            }
        });

        $('#btnHabilitarMultiples').click(function () {
            var grid = $("#jqGrid");
            var rowKey = grid.getGridParam("selrow");

            if (!rowKey)
                Notificaciones.showError("No hay instalaciones seleccionada(s) a habilitar");
            else {
                var selectedIDs = grid.getGridParam("selarrrow");
                var result = "";
                var mensaje = "Han sido habilitadas las instalaciones seleccionadas satisfactoriamente.";
                for (var i = 0; i < selectedIDs.length; i++) {
                    var data = selectedIDs[i];
                    console.log("Entro Eliminar x");
                    $.post('/api/instalaciones/habilitar',
                            {id: data},
                            function (response) {
                                if (!response.error) {

                                } else {
                                    Noty.hideAll();
                                    mensaje = "No se pudo habilitar las instalaciones seleccionadas";
                                }
                            });
                    result += selectedIDs[i] + ",";
                }
                Notificaciones.showNoty(mensaje);
                setTimeout(function () {
                    location.href = "MantenimientoInstalaciones.html"
                }, 1000);
            }
        });
        $('#btnDeshabilitarMultiples').click(function () {
            var grid = $("#jqGrid");
            var rowKey = grid.getGridParam("selrow");

            if (!rowKey)
                Notificaciones.showError("No hay instalaciones seleccionada(s) a deshabilitar");
            else {
                var selectedIDs = grid.getGridParam("selarrrow");
                var result = "";
                var mensaje = "Han sido deshabilitadas las instalaciones seleccionadas satisfactoriamente.";
                for (var i = 0; i < selectedIDs.length; i++) {
                    var data = selectedIDs[i];
                    console.log("Entro Eliminar x");
                    $.post('/api/instalaciones/inhabilitar',
                            {id: data},
                            function (response) {
                                if (!response.error) {

                                } else {
                                    Noty.hideAll();
                                    mensaje = "No se pudo deshabilitar las instalaciones seleccionadas";
                                }
                            });
                    result += selectedIDs[i] + ",";
                }
                Notificaciones.showNoty(mensaje);
                setTimeout(function () {
                    location.href = "MantenimientoInstalaciones.html"
                }, 1000);
            }
        });

        var rowIds = $("#jqGrid").jqGrid('getDataIDs');
        for (i = 0; i <= rowIds.length; i++) {//iterate over each row
            rowData = $("#jqGrid").jqGrid('getRowData', rowIds[i]);
            //set background style if ColumnValue == true
            if (rowData['estado'] == 'Inhabilitado') {
                $("#jqGrid").jqGrid('setRowData', rowIds[i], false, "myAltRowClassEven");
            } //if
        }
        }
        });

    $('#jqGrid').jqGrid('setGridWidth', '900');

    function acciones(cellValue, options, rowdata, action) {
    var acciones = '';
    acciones = '<a href="javascript:void(0)"  ng-click="handleClick()" class="btn btn-warning icono-ver" data-idInstalacion-ver="' + rowdata['id'] + '" title="Ver Instalacion"><img src="../img/Iconos/ver.png" class="icono"></a>' +
    '<a href="javascript:void(0)" ng-click="clickHandler();" class="btn btn-warning icono-modificar" data-idInstalacion-modificar="' + rowdata['id'] + '" title="Modificar Instalacion"><img src="../img/Iconos/modificar.png" class="icono"></a>' +
    '<a href="javascript:void(0)" class="btn btn-warning icono-eliminar" data-idInstalacion-eliminar="' + rowdata['id'] + '" title="Eliminar Instalacion"><img src="../img/Iconos/eliminar.png" class="icono"></a>';
    return acciones;
    }

        //Filtrado
        var funciones={};

        funciones.buscar=function(){
            var ver;
            var sede=$("#sedeFiltrado").val();
            var tipo=$("#tipoFiltrado").val();
            var estado=$("#estadoFiltrado").val();
            var estado=estado.substring(estado.indexOf(":")+1);
            var nombre=$("#nombreFiltrado").val();
            var ids=$("#jqGrid").jqGrid('getDataIDs');
            for(var i=0;i<ids.length;i++){
                var rowId=ids[i];
                var rowData=$("#jqGrid").jqGrid('getRowData',rowId);

                ver=true;
                if((sede!='Elegir') && (rowData.sede!=sede)) ver=false;
                if((tipo!="Elegir") && (rowData.tipo!=tipo)) ver=false;
                if((estado!='?') && (rowData.estado!=estado)) ver=false;
                if(nombre && (rowData.nombre.indexOf(nombre)<0)) ver=false;

                if(ver){
                    $("#"+rowId).show();
                }else{
                    $("#"+rowId).hide();
                }
            }

        }
    </script>
    <style type="text/css">
        .ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
            background: #008D34;
        }

        .ui-jqgrid-sortable {
            color: azure;
            background-color: #008D34;
        }

        .ui-jqgrid-resize-ltr {
            background-color: #008D34;
        }

        .btn-warning {
            padding-top: 2px;
            padding-bottom: 2px;
            padding-right: 2px;
            padding-left: 2px;
            background-color: #ededed;
            border-color: #ededed;
        }

        .icono {
            width: 19px;
        }

        h4 {
            background: #008D34;
            color: white;
            padding-left: 30px;
            margin-left: 0px;
            padding-top: 2px;
            padding-bottom: 2px;
            margin-top: 0px;
        }

        hr {
            margin-top: 0px;
            margin-bottom: 10px;
        }
        .myAltRowClassEven {
            background: #999999;
            border-color: #79B7E7;
            color: #ffffff;
        }
    </style>
</body>
</html>
