/*estilo botones de acciones**/
.accionLista{
    display:block;float:right;height:50px;
    width: auto;padding-left: 1px;padding-right: 15px;
}
#botonMostrarMas/*,#accionAgregar input,.accionLista label*/{
    background-color: #ddd; border: solid #cccccc 1px;border-radius: 1%;
}

.social-box{
    /*float: none;
    position: absolute;
    right: 40px;
    bottom: 0;*/
    width: 100%;
    /*padding-bottom: 60px;*/
}
.rght-box{
    float: right;
    min-width: 10%;
    padding-right: 10px;
    margin-left: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    height:40px;
}
.btn-primary{
    /*background-color: #00a0ac;
    font-size: 15pt;
    font-weight:bold;*/
}